@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Montserrat:400,500|Roboto:400');
* {
box-sizing: border-box;
}
.align-self-flex-center {
align-self: flex-center;
}
.align-self-flex-end {
align-self: flex-end;
}
.align-self-flex-start {
align-self: flex-start;
}
.animate-nodelay {
animation-delay: 0s;
}
.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
opacity: 1;
}
.auto-animated div {
opacity: 0;
position: absolute;
--z-index: -1;
}
.component-wrapper * {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
pointer-events: none
}
.component-wrapper a {
text-decoration: none;
display: contents;
pointer-events: auto
}
.component-wrapper a *,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe {
pointer-events: auto;
}
.component-wrapper.not-ready,
.component-wrapper.not-ready * {
visibility: hidden !important;
}
.container-center-horizontal {
pointer-events: none;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}
.container-center-horizontal > * {
pointer-events: auto;
flex-shrink: 0;
}
.container-center-vertical {
pointer-events: none;
display: flex;
flex-direction: row;
align-items: center;
height: 100%;
}
.container-center-vertical > * {
pointer-events: auto;
flex-shrink: 0;
}
.full-height-a {
height: 100%;
}
.full-width-a {
width: 100%;
}
.hidden,
.hidden * {
visibility: hidden;
pointer-events: none;
}
.listeners-active,
.listeners-active * {
pointer-events: auto;
}
.listeners-active-click,
.listeners-active-click * {
cursor: pointer;
}
.overlay {
position: absolute;
opacity: 0;
display: none;
top: 0;
width: 100%;
height: 100%;
position: fixed;
}
.overlay.animate-appear {
opacity: 0;
display: block;
animation: reveal 0.3s ease-in-out 1 normal forwards;
}
.overlay.animate-disappear {
opacity: 1;
display: block;
animation: reveal 0.3s ease-in-out 1 reverse forwards;
}
.screen * {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
}
.screen a {
text-decoration: none;
display: contents;
}
.screen div {
-webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
outline: none;
}
.smart-layers-pointers,
.smart-layers-pointers * {
pointer-events: auto;
visibility: visible;
}
.valign-text-bottom {
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.valign-text-middle {
display: flex;
flex-direction: column;
justify-content: center;
}
@keyframes reveal {
from {
opacity: 0;
}
to {
opacity: 1;
}
}
input:focus {
outline: none;
}
:root {
--eerie-black: #18191b;
--white: #ffffffe6;
--white-2: #ffffff80;
--white-3: #ffffff;
--font-size-l: 20px;
--font-size-m: 18px;
--font-size-s: 16px;
--font-size-xl: 40px;
--font-size-xs: 14px;
--font-size-xxs: 10px;
--font-size-xxxs: 9.5px;
--font-family-montserrat: "Montserrat", Helvetica;
--font-family-roboto: "Roboto", Helvetica;
--font-family-roboto_slab: "Roboto Slab", Helvetica;
}
.robotoslab-normal-white-16px {
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-s);
font-style: normal;
font-weight: 400;
}
.montserrat-normal-white-14px {
color: var(--white-2);
font-family: var(--font-family-montserrat);
font-size: var(--font-size-xs);
font-style: normal;
font-weight: 400;
}
.robotoslab-normal-white-9-5px {
color: var(--white-2);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xxxs);
font-style: normal;
font-weight: 400;
}
.robotoslab-normal-white-18px {
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-m);
font-style: normal;
font-weight: 400;
}
.montserrat-normal-white-14px-2 {
color: var(--white);
font-family: var(--font-family-montserrat);
font-size: var(--font-size-xs);
font-style: normal;
font-weight: 400;
}
.montserrat-normal-white-16px {
color: var(--white-3);
font-family: var(--font-family-montserrat);
font-size: var(--font-size-s);
font-style: normal;
font-weight: 400;
}
.montserrat-normal-white-20px {
color: var(--white-3);
font-family: var(--font-family-montserrat);
font-size: var(--font-size-l);
font-style: normal;
font-weight: 400;
}
.border-1px-white-2 {
border: 1px solid var(--white-2);
}
/* screen - - */
.x {
background-color: var(--eerie-black);
height: 3425px;
mix-blend-mode: normal;
overflow: hidden;
overflow-x: hidden;
position: relative;
width: 1440px;
}
.x .facebook-xZstl5 {
background-color: transparent;
height: 28px;
left: 96px;
position: absolute;
top: 0px;
width: 28px;
}
.x .footer-C61RwL {
background-color: transparent;
height: 105px;
left: 0px;
position: absolute;
top: 3320px;
width: 1440px;
}
.x .group-11-xFApRQ {
background-color: transparent;
height: 63px;
left: 581px;
position: absolute;
top: -7px;
width: 206px;
}
.x .group-12-C61RwL {
background-color: transparent;
height: 72px;
left: 303px;
position: absolute;
top: 2660px;
width: 786px;
}
.x .group-13-C61RwL {
background-color: transparent;
height: 364px;
left: 952px;
position: absolute;
top: 2899px;
width: 346px;
}
.x .group-2-C61RwL {
background-color: transparent;
height: 617px;
left: 931px;
position: absolute;
top: 879px;
width: 509px;
}
.x .group-27-iPe1yZ {
background-color: transparent;
height: 28px;
left: 658px;
position: absolute;
top: 24px;
width: 124px;
}
.x .group-29-C61RwL {
background-color: transparent;
height: 110px;
left: 1010px;
position: absolute;
top: 3047px;
width: 22px;
}
.x .group-3-xxkKyh {
background-color: transparent;
height: 42px;
left: 539px;
position: absolute;
top: 141px;
width: 168px;
}
.x .group-30-C61RwL {
background-color: transparent;
height: 232px;
left: 0px;
position: absolute;
top: 1629px;
width: 1452px;
}
.x .group-4-xxkKyh {
background-color: transparent;
height: 42px;
left: 59px;
position: absolute;
top: 141px;
width: 168px;
}
.x .group-42-C61RwL {
background-color: transparent;
cursor: pointer;
height: 49px;
left: 623px;
position: absolute;
top: 2427px;
width: 212px;
}
.x .group-5-xxkKyh {
background-color: transparent;
height: 42px;
left: 1019px;
position: absolute;
top: 141px;
width: 168px;
}
.x .group-sUxRyR {
background-color: transparent;
height: 20px;
left: 0px;
position: absolute;
top: 44px;
width: 20px;
}
.x .group-z04wJ7 {
background-color: transparent;
height: 24px;
left: 0px;
position: absolute;
top: 0px;
width: 18px;
}
.x .group-zy3dnZ {
background-color: transparent;
height: 22px;
left: 0px;
position: absolute;
top: 88px;
width: 22px;
}
.x .i1891205-iQXdL3 {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xs);
font-style: normal;
font-weight: 300;
height: auto;
left: 41px;
letter-spacing: 0.70px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 11px;
width: auto;
}
.x .image-C61RwL {
background-color: transparent;
height: 90px;
left: 312px;
mix-blend-mode: normal;
position: absolute;
top: 368px;
width: 659px;
}
.x .image-VMr6Om {
background-color: transparent;
height: 30px;
left: 394px;
position: absolute;
top: 2571px;
width: 654px;
}
.x .instagram-xZstl5 {
background-color: transparent;
height: 28px;
left: 0px;
position: absolute;
top: 0px;
width: 28px;
}
.x .line-2-xFApRQ {
background-color: transparent;
height: 1px;
left: 0px;
position: absolute;
top: 50px;
width: 250px;
}
.x .line-3-xFApRQ {
background-color: transparent;
height: 1px;
left: 294px;
position: absolute;
top: 50px;
width: 250px;
}
.x .line-4-iPe1yZ {
background-color: transparent;
height: 2px;
left: 0px;
position: absolute;
top: 66px;
width: 1440px;
}
.x .logo-wt-1-C61RwL {
background-color: transparent;
height: 419px;
left: 387px;
mix-blend-mode: normal;
object-fit: cover;
position: absolute;
top: 83px;
width: 666px;
}
a.menu-bar-a:active,
a.menu-bar-a:hover,
a.menu-bar-a {
text-decoration: none;
color: #ffffff !important;
padding-top:30px; 
padding-left:45px; 
font-size: 20px;
display:table-cell; 
text-align:center;
}
.x .menu-bar-C61RwL {
background-color: transparent;
height: 83px;
left: 0px;
position: fixed;
top: -0px;
width: 100%;
}
.x .rectangle-11-xxkKyh {
background-color: transparent;
height: 232px;
left: 0px;
mix-blend-mode: normal;
object-fit: cover;
position: absolute;
top: 0px;
width: 480px;
}
.x .rectangle-12-xxkKyh {
background-color: transparent;
height: 232px;
left: 480px;
mix-blend-mode: normal;
object-fit: cover;
position: absolute;
top: 0px;
width: 480px;
}
.x .rectangle-13-xxkKyh {
background-color: transparent;
height: 232px;
left: 960px;
mix-blend-mode: normal;
object-fit: cover;
position: absolute;
top: 0px;
width: 480px;
}
.x .rectangle-2-C61RwL {
background-color: transparent;
height: 70px;
left: 562px;
position: absolute;
top: 461px;
width: 320px;
}
.x .rectangle-20-iPe1yZ {
background-color: #0f0f0f;
height: 105px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 0px;
width: 1440px;
}
.x .rectangle-21-C61RwL {
background-color: transparent;
height: auto;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 0px;
width: 100%;
}
.x .rectangle-22-zUixHA {
background-color: transparent;
height: 617px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 0px;
width: 509px;
}
.x .rectangle-23-iQXdL3 {
background-color: transparent;
border-radius: 10px;
height: 40px;
left: 0px;
position: absolute;
top: 0px;
width: 210px;
}
.x .rectangle-24-PpbxxV {
background-color: transparent;
border-radius: 10px;
height: 42px;
left: 0px;
position: absolute;
top: 0px;
width: 166px;
}
.x .rectangle-24-UccCxX {
background-color: transparent;
border-radius: 10px;
height: 42px;
left: 0px;
position: absolute;
top: 0px;
width: 166px;
}
.x .rectangle-24-oHxhwC {
background-color: transparent;
border-radius: 10px;
height: 42px;
left: 0px;
position: absolute;
top: 0px;
width: 166px;
}
.x .rectangle-26-C61RwL {
background-color: transparent;
height: 335px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 2520px;
width: 1440px;
}
.x .rectangle-27-wz81jh {
background-color: transparent;
height: 63px;
left: -7px;
mix-blend-mode: normal;
position: absolute;
top: -7px;
width: 224px;
}
.x .rectangle-27-xFApRQ {
background-color: transparent;
height: 15px;
left: 599px;
position: absolute;
top: 57px;
width: 15px;
}
.x .rectangle-3-C61RwL {
background-color: transparent;
height: 720px;
left: 0px;
mix-blend-mode: normal;
object-fit: cover;
position: absolute;
top: 0px;
width: 1440px;
}
.x .rectangle-4-zUixHA {
background-color: transparent;
height: 617px;
left: 0px;
mix-blend-mode: normal;
object-fit: cover;
position: absolute;
top: 0px;
width: 509px;
}
.x .rectangle-43-C61RwL {
background-color: transparent;
height: 363px;
left: 146px;
mix-blend-mode: normal;
position: absolute;
top: 2021px;
width: 363px;
}
.x .rectangle-44-C61RwL {
background-color: transparent;
height: 362px;
left: 539px;
mix-blend-mode: normal;
position: absolute;
top: 2021px;
width: 363px;
}
.x .rectangle-45-C61RwL {
background-color: transparent;
height: 363px;
left: 931px;
mix-blend-mode: normal;
position: absolute;
top: 2021px;
width: 363px;
}
.x .rectangle-5-C61RwL {
background-color: transparent;
height: 1px;
left: 430px;
position: absolute;
top: 920px;
width: 1px;
}
.x .rectangle-6-C61RwL {
background-color: transparent;
height: 1px;
left: 476px;
position: absolute;
top: 1064px;
width: 1px;
}
.x .textlabel-5mMeXy {
background-color: transparent;
height: auto;
left: 539px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: center;
top: 42px;
width: auto;
}
.x .textlabel-C61RwL {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-l);
font-style: normal;
font-weight: 300;
height: auto;
left: 628px;
letter-spacing: 1.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 481px;
width: auto;
}
.x .textlabel-E91r1M {
background-color: transparent;
height: auto;
left: 1019px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: center;
top: 42px;
width: auto;
}
.x .textlabel-PpbxxV {
background-color: transparent;
height: auto;
left: 40px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 11px;
width: auto;
}
.x .textlabel-UccCxX {
background-color: transparent;
height: auto;
left: 40px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 10px;
width: auto;
}
.x .textlabel-Ukt7LK {
background-color: transparent;
height: auto;
left: 59px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: center;
top: 42px;
width: auto;
}
.x .textlabel-VMr6Om {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xl);
font-style: normal;
font-weight: 500;
height: auto;
left: 567px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 1905px;
width: auto;
}
.x .textlabel-oHxhwC {
background-color: transparent;
height: auto;
left: 40px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 10px;
width: auto;
}
.x .textlabel-pyzmRD {
background-color: transparent;
height: auto;
left: 18px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 22px;
width: auto;
}
.x .textlabel-tzumxU {
background-color: transparent;
height: auto;
left: 539px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 86px;
width: auto;
}
.x .textlabel-wz81jh {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xs);
font-style: normal;
font-weight: 400;
height: auto;
left: 38px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 16px;
width: auto;
}
.x .textlabel-xFApRQ {
background-color: transparent;
color: #1b1b1b;
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xxxs);
font-style: normal;
font-weight: 400;
height: auto;
left: 624px;
letter-spacing: 0.00px;
line-height: normal;
position: absolute;
text-align: left;
top: 59px;
width: auto;
}
.x .textlabel-xxkKyh {
background-color: transparent;
height: auto;
left: 1019px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 86px;
width: auto;
}
.x .vector-0Sqp3x {
background-color: transparent;
height: 19px;
left: 11px;
mix-blend-mode: normal;
position: absolute;
top: -0px;
width: 11px;
}
.x .vector-3y9sZQ {
background-color: transparent;
height: 26px;
left: 1px;
mix-blend-mode: normal;
position: absolute;
top: 1px;
width: 26px;
}
.x .vector-C9oVer {
background-color: transparent;
height: 24px;
left: 2px;
mix-blend-mode: normal;
position: absolute;
top: 2px;
width: 24px;
}
.x .vector-FCSx1r {
background-color: transparent;
height: 12px;
left: 9px;
mix-blend-mode: normal;
position: absolute;
top: 4px;
width: 7px;
}
.x .vector-LsPsQG {
background-color: transparent;
height: 21px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: -0px;
width: 20px;
}
.x .vector-RO459o {
background-color: transparent;
height: 22px;
left: -0px;
mix-blend-mode: normal;
position: absolute;
top: 0px;
width: 19px;
}
.x .vector-al5l8B {
background-color: transparent;
height: 24px;
left: 2px;
mix-blend-mode: normal;
position: absolute;
top: 2px;
width: 24px;
}
.x .vector-moMpxy {
background-color: transparent;
height: 10px;
left: 4px;
mix-blend-mode: normal;
position: absolute;
top: 4px;
width: 10px;
}
.x .vector-n15xQh {
background-color: transparent;
height: 25px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: -0px;
width: 18px;
}
.x .whats-app-xZstl5 {
background-color: transparent;
height: 28px;
left: 48px;
position: absolute;
top: 0px;
width: 28px;
}
.x .x-C61RwL {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto);
font-size: var(--font-size-m);
font-style: normal;
font-weight: 400;
height: auto;
left: 148px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 996px;
width: 650px;
}
.x .x-VMr6Om {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto);
font-size: var(--font-size-m);
font-style: normal;
font-weight: 400;
height: auto;
left: 147px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 1073px;
width: 658px;
}
.x .x-mzXdH9 {
background-color: transparent;
cursor: pointer;
height: 40px;
left: 1020px;
position: absolute;
top: 3186px;
width: 210px;
}
.x .x-xxkKyh {
background-color: transparent;
height: auto;
left: 59px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 86px;
width: auto;
}
.x .x1-C61RwL {
background-color: transparent;
height: 54px;
left: 970px;
mix-blend-mode: normal;
position: absolute;
top: 374px;
width: 94px;
}
.x .x1-VMr6Om {
background-color: transparent;
color: var(--white);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xl);
font-style: normal;
font-weight: 500;
height: auto;
left: 143px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 918px;
width: auto;
}
.x .x1-mzXdH9 {
background-color: transparent;
height: 478px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 2842px;
width: 1440px;
}
.x .x10-C61RwL {
background-color: transparent;
height: 111px;
left: 132px;
mix-blend-mode: normal;
position: absolute;
top: 1345px;
width: 124px;
}
.x .x10-VMr6Om {
background-color: transparent;
height: auto;
left: 97px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: center;
top: 1462px;
width: 197px;
}
.x .x1000-C61RwL {
background-color: transparent;
height: 111px;
left: 357px;
mix-blend-mode: normal;
position: absolute;
top: 1345px;
width: 234px;
}
.x .x1000-VMr6Om {
background-color: transparent;
height: auto;
left: 372px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: center;
top: 1462px;
width: 206px;
}
.x .x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ {
background-color: transparent;
height: 58px;
left: 112px;
mix-blend-mode: normal;
position: absolute;
top: 8px;
width: 128px;
}
.x .x2016-2020-i1121222-iPe1yZ {
background-color: transparent;
color: var(--white-3);
font-family: var(--font-family-roboto_slab);
font-size: var(--font-size-xxs);
font-style: normal;
font-weight: 300;
height: auto;
left: 561px;
letter-spacing: 0.50px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 80px;
width: auto;
}
.x .x50-C61RwL {
background-color: transparent;
height: 111px;
left: 690px;
mix-blend-mode: normal;
position: absolute;
top: 1345px;
width: 136px;
}
.x .x50-VMr6Om {
background-color: transparent;
height: auto;
left: 656px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: center;
top: 1462px;
width: 206px;
}
.x .x7-999-999-99-99-xFApRQ {
background-color: transparent;
height: auto;
left: 305px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 22px;
width: auto;
}
/* screen - frame-37 */
#overlay-frame-37 {
background-color: transparent;
}
.frame-37 {
background-color: transparent;
height: 3425px;
mix-blend-mode: normal;
overflow-x: hidden;
position: relative;
width: 1440px;
}
.frame-37 .frame-37-C61RwL {
background-color: var(--eerie-black);
height: 655px;
left: calc(50vw - 720.0px);
mix-blend-mode: normal;
position: relative;
top: calc(50vh - 327.5px);
width: 1440px;
}
.frame-37 .group-11-C8bUTq {
background-color: transparent;
height: 63px;
left: 617px;
position: absolute;
top: 521px;
width: 206px;
}
.frame-37 .group-11-ZyL75g {
background-color: transparent;
height: 63px;
left: 617px;
position: absolute;
top: 521px;
width: 206px;
}
.frame-37 .image-C8bUTq {
background-color: transparent;
height: 30px;
left: 392px;
position: absolute;
top: 76px;
width: 654px;
}
.frame-37 .image-ZyL75g {
background-color: transparent;
height: 30px;
left: 392px;
position: absolute;
top: 76px;
width: 654px;
}
.frame-37 .line-2-C8bUTq {
background-color: transparent;
height: 1px;
left: 411px;
position: absolute;
top: 188px;
width: 250px;
}
.frame-37 .line-2-ZyL75g {
background-color: transparent;
height: 1px;
left: 411px;
position: absolute;
top: 188px;
width: 250px;
}
.frame-37 .line-3-C8bUTq {
background-color: transparent;
height: 1px;
left: 785px;
position: absolute;
top: 188px;
width: 250px;
}
.frame-37 .line-3-ZyL75g {
background-color: transparent;
height: 1px;
left: 785px;
position: absolute;
top: 188px;
width: 250px;
}
.frame-37 .rectangle-26-C8bUTq {
background-color: transparent;
height: 654px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 1px;
width: 1440px;
}
.frame-37 .rectangle-26-ZyL75g {
background-color: transparent;
height: 654px;
left: 0px;
mix-blend-mode: normal;
position: absolute;
top: 1px;
width: 1440px;
}
.frame-37 .rectangle-27-C8bUTq {
background-color: transparent;
height: 15px;
left: 624px;
position: absolute;
top: 585px;
width: 15px;
}
.frame-37 .rectangle-27-ZyL75g {
background-color: transparent;
height: 15px;
left: 624px;
position: absolute;
top: 585px;
width: 15px;
}
.frame-37 .rectangle-73-C8bUTq {
background-color: transparent;
height: 117px;
left: 411px;
position: absolute;
top: 374px;
width: 618px;
}
.frame-37 .rectangle-73-ZyL75g {
background-color: transparent;
height: 117px;
left: 411px;
position: absolute;
top: 374px;
width: 618px;
}
.frame-37 .rectangle-74-C8bUTq {
background-color: transparent;
height: 15px;
left: 441px;
position: absolute;
top: 259px;
width: 15px;
}
.frame-37 .rectangle-74-ZyL75g {
background-color: transparent;
height: 15px;
left: 441px;
position: absolute;
top: 259px;
width: 15px;
}
.frame-37 .rectangle-75-C8bUTq {
background-color: transparent;
height: 15px;
left: 441px;
position: absolute;
top: 294px;
width: 15px;
}
.frame-37 .rectangle-75-ZyL75g {
background-color: transparent;
height: 15px;
left: 441px;
position: absolute;
top: 294px;
width: 15px;
}
.frame-37 .rectangle-76-C8bUTq {
background-color: transparent;
height: 15px;
left: 441px;
position: absolute;
top: 329px;
width: 15px;
}
.frame-37 .rectangle-76-ZyL75g {
background-color: transparent;
height: 15px;
left: 441px;
position: absolute;
top: 329px;
width: 15px;
}
.frame-37 .rectangle-77-C8bUTq {
background-color: transparent;
height: 15px;
left: 735px;
position: absolute;
top: 259px;
width: 15px;
}
.frame-37 .rectangle-77-ZyL75g {
background-color: transparent;
height: 15px;
left: 735px;
position: absolute;
top: 259px;
width: 15px;
}
.frame-37 .rectangle-78-C8bUTq {
background-color: transparent;
height: 15px;
left: 735px;
position: absolute;
top: 294px;
width: 15px;
}
.frame-37 .rectangle-78-ZyL75g {
background-color: transparent;
height: 15px;
left: 735px;
position: absolute;
top: 294px;
width: 15px;
}
.frame-37 .rectangle-79-C8bUTq {
background-color: transparent;
height: 15px;
left: 735px;
position: absolute;
top: 329px;
width: 15px;
}
.frame-37 .rectangle-79-ZyL75g {
background-color: transparent;
height: 15px;
left: 735px;
position: absolute;
top: 329px;
width: 15px;
}
.frame-37 .textlabel-8s9CtF {
background-color: transparent;
height: auto;
left: 391px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 212px;
width: auto;
}
.frame-37 .textlabel-8xGHrp {
background-color: transparent;
height: auto;
left: 760px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 326px;
width: auto;
}
.frame-37 .textlabel-C8bUTq {
background-color: transparent;
height: auto;
left: 426px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 160px;
width: auto;
}
.frame-37 .textlabel-Ei8ncz {
background-color: transparent;
height: auto;
left: 466px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 256px;
width: auto;
}
.frame-37 .textlabel-G2UP4D {
background-color: transparent;
height: auto;
left: 760px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 256px;
width: auto;
}
.frame-37 .textlabel-HPtV83 {
background-color: transparent;
height: auto;
left: 466px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 326px;
width: auto;
}
.frame-37 .textlabel-Kx415m {
background-color: transparent;
height: auto;
left: 760px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 291px;
width: auto;
}
.frame-37 .textlabel-MFzExA {
background-color: transparent;
height: auto;
left: 466px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 291px;
width: auto;
}
.frame-37 .textlabel-QSc6ug {
background-color: transparent;
height: auto;
left: 760px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 291px;
width: auto;
}
.frame-37 .textlabel-TXEO0G {
background-color: transparent;
height: auto;
left: 466px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 256px;
width: auto;
}
.frame-37 .textlabel-ZyL75g {
background-color: transparent;
height: auto;
left: 660px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 587px;
width: auto;
}
.frame-37 .textlabel-aJiehw {
background-color: transparent;
height: auto;
left: 660px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 587px;
width: auto;
}
.frame-37 .textlabel-dpdd85 {
background-color: transparent;
height: auto;
left: 466px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 326px;
width: auto;
}
.frame-37 .textlabel-hFAR4e {
background-color: transparent;
height: auto;
left: 466px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 291px;
width: auto;
}
.frame-37 .textlabel-hffV04 {
background-color: transparent;
height: auto;
left: 426px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 160px;
width: auto;
}
.frame-37 .textlabel-nykHVa {
background-color: transparent;
height: auto;
left: 760px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 256px;
width: auto;
}
.frame-37 .textlabel-sVPNxu {
background-color: transparent;
height: auto;
left: 391px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 212px;
width: auto;
}
.frame-37 .textlabel-viNTGy {
background-color: transparent;
height: auto;
left: 760px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 326px;
width: auto;
}
.frame-37 .x-C8bUTq {
background-color: transparent;
height: auto;
left: 426px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 386px;
width: auto;
}
.frame-37 .x-ZyL75g {
background-color: transparent;
height: auto;
left: 426px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 386px;
width: auto;
}
.frame-37 .x7-999-999-99-99-C8bUTq {
background-color: transparent;
height: auto;
left: 800px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 160px;
width: auto;
}
.frame-37 .x7-999-999-99-99-ZyL75g {
background-color: transparent;
height: auto;
left: 800px;
letter-spacing: 0.00px;
line-height: normal;
mix-blend-mode: normal;
position: absolute;
text-align: left;
top: 160px;
width: auto;
}
.overlay .frame-37 {
background-color: #00000000;
}