@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500";

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Roboto:400|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Montserrat:400,500";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

* {
box-sizing:border-box;
}

.align-self-flex-center {
align-self:flex-center;
}

.align-self-flex-end {
align-self:flex-end;
}

.align-self-flex-start {
align-self:flex-start;
}

.animate-nodelay {
animation-delay:0s;
}

.auto-animated .container-center-vertical,.auto-animated .container-center-horizontal {
opacity:1;
}

.auto-animated div {
opacity:0;
position:absolute;
--z-index:-1;
}

.component-wrapper * {
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
pointer-events:none;
}

.component-wrapper a {
text-decoration:none;
display:contents;
pointer-events:auto;
}

.component-wrapper a *,.component-wrapper input,.component-wrapper video,.component-wrapper iframe {
pointer-events:auto;
}

.component-wrapper.not-ready,.component-wrapper.not-ready * {
visibility:hidden!important;
}

.container-center-horizontal {
pointer-events:none;
display:flex;
flex-direction:row;
justify-content:center;
width:100%;
}

.container-center-horizontal > * {
pointer-events:auto;
flex-shrink:0;
}

.container-center-vertical {
pointer-events:none;
display:flex;
flex-direction:row;
align-items:center;
height:100%;
}

.container-center-vertical > * {
pointer-events:auto;
flex-shrink:0;
}

.full-height-a {
height:100%;
}

.full-width-a {
width:100%;
}

.hidden,.hidden * {
visibility:hidden;
pointer-events:none;
}

.listeners-active,.listeners-active * {
pointer-events:auto;
}

.listeners-active-click,.listeners-active-click * {
cursor:pointer;
}

.overlay {
position:absolute;
opacity:0;
display:none;
top:0;
width:100%;
height:100%;
position:fixed;
}

.overlay.animate-appear {
opacity:0;
display:block;
animation:reveal .3s ease-in-out 1 normal forwards;
}

.overlay.animate-disappear {
opacity:1;
display:block;
animation:reveal .3s ease-in-out 1 reverse forwards;
}

.screen * {
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
}

.screen a {
text-decoration:none;
display:contents;
}

.screen div {
-webkit-text-size-adjust:none;
}

.screen textarea:focus,.screen input:focus {
outline:none;
}

.smart-layers-pointers,.smart-layers-pointers * {
pointer-events:auto;
visibility:visible;
}

.valign-text-bottom {
display:flex;
flex-direction:column;
justify-content:flex-end;
}

.valign-text-middle {
display:flex;
flex-direction:column;
justify-content:center;
}

@keyframes reveal {
from {
opacity:0;
}

to {
opacity:1;
}
}

input:focus {
outline:none;
}

:root {
--white:#ffffffe6;
--white-2:#fff;
--font-size-l:36px;
--font-size-m:24px;
--font-size-s:18px;
--font-size-xs:14px;
--font-size-xxs:10px;
--font-family-roboto_slab:"Roboto Slab",Helvetica;
}

.robotoslab-normal-white-18px {
color:var(--white);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-s);
font-style:normal;
font-weight:400;
}

.robotoslab-normal-white-24px {
color:var(--white);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-m);
font-style:normal;
font-weight:400;
}

.robotoslab-medium-white-24px {
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-m);
font-style:normal;
font-weight:500;
}

/* screen - kontakty */
.kontakty {
background-color:#18191b;
height:1431px;
overflow:hidden;
overflow-x:hidden;
position:relative;
width:1440px;
}

.kontakty .component-1-C61RwL {
background-color:transparent;
height:45px;
left:607px;
position:absolute;
top:1164px;
width:226px;
}

.kontakty .facebook-xZstl5 {
background-color:transparent;
height:28px;
left:96px;
position:absolute;
top:0;
width:28px;
}

.kontakty .footer-C61RwL {
background-color:transparent;
height:105px;
left:0;
position:absolute;
top:1326px;
width:1440px;
}

.kontakty .frame-39-5eV5YA {
background-color:transparent;
height:74px;
left:143px;
position:absolute;
top:-2px;
width:163px;
}

.kontakty .group-27-iPe1yZ {
background-color:transparent;
height:28px;
left:658px;
position:absolute;
top:24px;
width:124px;
}

.kontakty .group-41-CMrZ9S {
background-color:transparent;
height:74px;
left:0;
position:relative;
top:0;
width:167px;
}

.kontakty .group-6-5eV5YA {
background-color:transparent;
height:24px;
left:800px;
position:absolute;
top:30px;
width:500px;
}

.kontakty .image-aacgXn {
background-color:transparent;
height:37px;
left:76px;
position:absolute;
top:39px;
width:96px;
}

.kontakty .image-nsa3YJ {
background-color:transparent;
height:31px;
left:75px;
position:absolute;
top:23px;
width:84px;
}

.kontakty .instagram-xZstl5 {
background-color:transparent;
height:28px;
left:0;
position:absolute;
top:0;
width:28px;
}

.kontakty .line-1-5eV5YA {
background-color:transparent;
height:1px;
left:719px;
position:absolute;
top:161px;
width:1px;
}

.kontakty .line-4-iPe1yZ {
background-color:transparent;
height:2px;
left:0;
position:absolute;
top:66px;
width:1440px;
}

.kontakty .menu-bar-C61RwL {
background-color:transparent;
height:85px;
left:0;
overflow:hidden;
position:absolute;
top:0;
width:1440px;
}

.kontakty .rectangle-20-iPe1yZ {
background-color:#0f0f0f;
height:105px;
left:0;
position:absolute;
top:0;
width:1440px;
}

.kontakty .rectangle-23-5eV5YA {
background-color:#18191b80;
height:85px;
left:0;
position:absolute;
top:0;
width:1440px;
}

.kontakty .rectangle-26-9p2GBv {
background-color:transparent;
height:59px;
left:-7px;
position:absolute;
top:-7px;
width:240px;
}

.kontakty .shutterstock131654735-1-C61RwL {
background-color:transparent;
height:218px;
left:2px;
object-fit:cover;
position:absolute;
top:85px;
width:1436px;
}

.kontakty .textlabel-9p2GBv {
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:400;
height:auto;
left:48px;
letter-spacing:.7px;
line-height:normal;
position:absolute;
text-align:left;
top:13px;
width:auto;
}

.kontakty .textlabel-C61RwL {
z-index:100;
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-l);
font-style:normal;
font-weight:400;
height:auto;
left:147px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:170px;
width:auto;
}

.kontakty .textlabel-FtquBM {
background-color:transparent;
height:auto;
left:398px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:0;
width:auto;
}

.kontakty .textlabel-VMr6Om {
background-color:transparent;
color:#ffffff99;
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:400;
height:auto;
left:225px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:328px;
width:auto;
}

.kontakty .textlabel-cPzzMH {
background-color:transparent;
height:auto;
left:174px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:0;
width:auto;
}

.kontakty .textlabel-gpwKP7 {
background-color:transparent;
height:auto;
left:0;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:0;
width:auto;
}

.kontakty .textlabel-iXTgFq {
background-color:transparent;
height:auto;
left:278px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:0;
width:auto;
}

.kontakty .textlabel-wEdWNf {
background-color:transparent;
height:auto;
left:79px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:0;
width:auto;
}

.kontakty .vector-1-5eV5YA {
background-color:transparent;
height:1px;
left:0;
position:absolute;
top:84px;
width:1440px;
}

.kontakty .vector-3y9sZQ {
background-color:transparent;
height:26px;
left:1px;
position:absolute;
top:1px;
width:26px;
}

.kontakty .vector-C9oVer {
background-color:transparent;
height:24px;
left:2px;
position:absolute;
top:2px;
width:24px;
}

.kontakty .vector-al5l8B {
background-color:transparent;
height:24px;
left:2px;
position:absolute;
top:2px;
width:24px;
}

.kontakty .whats-app-xZstl5 {
background-color:transparent;
height:28px;
left:48px;
position:absolute;
top:0;
width:28px;
}

.kontakty .x-C61RwL {
background-color:transparent;
color:#ffffff99;
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:400;
height:auto;
left:147px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:328px;
width:auto;
}

.kontakty .x-QxM5SU {
background-color:transparent;
height:auto;
left:147px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:403px;
width:auto;
}

.kontakty .x-VMr6Om {
background-color:transparent;
height:auto;
left:147px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:482px;
width:auto;
}

.kontakty .x-mzXdH9 {
background-color:transparent;
height:auto;
left:147px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:567px;
width:auto;
}

.kontakty .x1-C61RwL {
background-color:transparent;
height:478px;
left:4px;
position:absolute;
top:658px;
width:1440px;
}

.kontakty .x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ {
background-color:transparent;
height:58px;
left:112px;
position:absolute;
top:8px;
width:128px;
}

.kontakty .x1m-gh-bb-vn-m0-ovebg-preview-2-nsa3YJ {
background-color:transparent;
height:80px;
left:-4px;
position:absolute;
top:1px;
width:91px;
}

.kontakty .x2016-2020-iPe1yZ {
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xxs);
font-style:normal;
font-weight:300;
height:auto;
left:561px;
letter-spacing:.5px;
line-height:normal;
position:absolute;
text-align:left;
top:80px;
width:auto;
}

.kontakty .x3-C61RwL {
background-color:transparent;
height:auto;
left:313px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:403px;
width:auto;
}

.kontakty .x7-925-078-87-04-C61RwL {
background-color:transparent;
height:auto;
left:313px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:522px;
width:auto;
}

.kontakty .x7-925-725-71-25-C61RwL {
background-color:transparent;
height:auto;
left:313px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:482px;
width:auto;
}

.kontakty .x900-2000-C61RwL {
background-color:transparent;
height:auto;
left:313px;
letter-spacing:0;
line-height:normal;
position:absolute;
text-align:left;
top:567px;
width:auto;
}

* {
box-sizing:border-box;
}

.align-self-flex-center {
align-self:flex-center;
}

.align-self-flex-end {
align-self:flex-end;
}

.align-self-flex-start {
align-self:flex-start;
}

.animate-nodelay {
animation-delay:0s;
}

.auto-animated .container-center-vertical,.auto-animated .container-center-horizontal {
opacity:1;
}

.auto-animated div {
opacity:0;
position:absolute;
--z-index:-1;
}

.component-wrapper * {
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
pointer-events:none;
}

.component-wrapper a {
text-decoration:none;
display:contents;
pointer-events:auto;
}

.component-wrapper a *,.component-wrapper input,.component-wrapper video,.component-wrapper iframe {
pointer-events:auto;
}

.component-wrapper.not-ready,.component-wrapper.not-ready * {
visibility:hidden!important;
}

.container-center-horizontal {
pointer-events:none;
display:flex;
flex-direction:row;
justify-content:center;
width:100%;
}

.container-center-horizontal > * {
pointer-events:auto;
flex-shrink:0;
}

.container-center-vertical {
pointer-events:none;
display:flex;
flex-direction:row;
align-items:center;
height:100%;
}

.container-center-vertical > * {
pointer-events:auto;
flex-shrink:0;
}

.full-height-a {
height:100%;
}

.full-width-a {
width:100%;
}

.hidden,.hidden * {
visibility:hidden;
pointer-events:none;
}

.listeners-active,.listeners-active * {
pointer-events:auto;
}

.listeners-active-click,.listeners-active-click * {
cursor:pointer;
}

.overlay {
position:absolute;
opacity:0;
display:none;
top:0;
width:100%;
height:100%;
position:fixed;
}

.overlay.animate-appear {
opacity:0;
display:block;
animation:reveal .3s ease-in-out 1 normal forwards;
}

.overlay.animate-disappear {
opacity:1;
display:block;
animation:reveal .3s ease-in-out 1 reverse forwards;
}

.screen * {
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
}

.screen a {
text-decoration:none;
display:contents;
}

.screen div {
-webkit-text-size-adjust:none;
}

.screen textarea:focus,.screen input:focus {
outline:none;
}

.smart-layers-pointers,.smart-layers-pointers * {
pointer-events:auto;
visibility:visible;
}

.valign-text-bottom {
display:flex;
flex-direction:column;
justify-content:flex-end;
}

.valign-text-middle {
display:flex;
flex-direction:column;
justify-content:center;
}

@keyframes reveal {
from {
opacity:0;
}

to {
opacity:1;
}
}

input:focus {
outline:none;
}

:root {
--white:#ffffffe6;
--white-2:#fff;
--white-3:#ffffff80;
--font-size-l:20px;
--font-size-m:18px;
--font-size-s:16px;
--font-size-xl:40px;
--font-size-xs:14px;
--font-size-xxs:10px;
--font-size-xxxs:9.5px;
--font-family-montserrat:Montserrat,Helvetica;
--font-family-roboto:Roboto,Helvetica;
--font-family-roboto_slab:"Roboto Slab",Helvetica;
}

.robotoslab-normal-white-18px {
color:var(--white);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-m);
font-style:normal;
font-weight:400;
}

.robotoslab-normal-white-14px {
color:var(--white);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:400;
}

.montserrat-normal-white-16px {
color:var(--white-2);
font-family:var(--font-family-montserrat);
font-size:var(--font-size-s);
font-style:normal;
font-weight:400;
}

.montserrat-normal-white-20px {
color:var(--white-2);
font-family:var(--font-family-montserrat);
font-size:var(--font-size-l);
font-style:normal;
font-weight:400;
}

.montserrat-normal-white-14px {
color:var(--white);
font-family:var(--font-family-montserrat);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:400;
}

.border-1px-white-3 {
border:1px solid var(--white-3);
}

body {
overflow-x:hidden;
}

#main_title {
text-align:center;
height:720px;
padding-top:10%;
background:url({% static 'png/city_photo1.png' %});
}

h1 {
font-family:Roboto Slab;
font-style:normal;
font-weight:500;
font-size:40px;
line-height:53px;
color:rgba(255,255,255,0.8);
}

p {
font-family:Roboto;
font-style:normal;
font-weight:400;
font-size:18px;
line-height:1.4em;
margin:1.2em;
margin-left:.25em;
color:rgba(255,255,255,0.8);
}

#sub_text {
font-family:Montserrat;
font-style:normal;
font-weight:400;
font-size:14px;
line-height:17px;
text-align:center;
margin-top:-10px;
}



#button_light {
font-family:Roboto Slab;
font-style:normal;
font-weight:300;
font-size:20px;
line-height:26px;
letter-spacing:.05em;
border:0;
color:rgba(255,255,255,0.7);
height:70px;
width:320px;
margin-top:1%;
background:url({% static 'svg/button_frame.svg' %}) no-repeat round;
background-size:100%;
}



ul.scrool-box {
width:9999px;
margin:0;
padding:0;
list-style:none;
transition:margin-left 250ms;
font-size:0;
}

li.scrool-box {
width:500px;
height:232px;
display:inline-block;
vertical-align:top;
}

.carousel {
position:relative;
margin-top:50px;
}

h1.scrool-box {
font-family:Montserrat;
font-style:normal;
font-weight:400;
font-size:20px;
line-height:24px;
text-transform:uppercase;
color:#FFF;
margin-left:59px;
padding-top:42px;
}

p.scrool-box {
font-family:Montserrat;
font-style:normal;
font-weight:400;
font-size:16px;
line-height:20px;
color:#FFF;
margin-left:59px;
margin-top:11px;
margin-right:120px;
line-height:1.4em;
}

button.scrool-box {
font-family:Roboto Slab;
font-style:normal;
font-weight:300;
font-size:14px;
color:#fff;
line-height:26px;
letter-spacing:.05em;
margin-left:59px;
margin-top:10px;
width:170px;
height:40px;
border:0;
background:url({% static 'png/gray_button.png' %}) no-repeat round;
background-size:100%;
}

button.catalog {
font-family:Roboto Slab;
font-style:normal;
font-weight:300;
font-size:.8rem;
color:#fff;
line-height:.0097%;
letter-spacing:.05em;
margin-left:38.5%;
margin-top:44px;
width:23%;
height:60px;
border:0;
background:url({% static 'svg/button_black_frame.svg' %}) no-repeat round;
background-size:100%;
text-align:center;
}

#consult {
margin-top:44px;
width:100%;
height:335px;
background:url({% static 'png/city.png' %});
}

#our-obj {
width:363px;
height:363px;
margin-left:15px;
margin-right:15px;
}

* {
box-sizing:border-box;
}

.align-self-flex-center {
align-self:flex-center;
}

.align-self-flex-end {
align-self:flex-end;
}

.align-self-flex-start {
align-self:flex-start;
}

.animate-nodelay {
animation-delay:0s;
}

.auto-animated .container-center-vertical,.auto-animated .container-center-horizontal {
opacity:1;
}

.auto-animated div {
opacity:0;
position:absolute;
--z-index:-1;
}

.component-wrapper * {
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
pointer-events:none;
}

.component-wrapper a {
text-decoration:none;
display:contents;
pointer-events:auto;
}

.component-wrapper a *,.component-wrapper input,.component-wrapper video,.component-wrapper iframe {
pointer-events:auto;
}

.component-wrapper.not-ready,.component-wrapper.not-ready * {
visibility:hidden!important;
}

.container-center-horizontal {
pointer-events:none;
display:flex;
flex-direction:row;
justify-content:center;
width:100%;
}

.container-center-horizontal > * {
pointer-events:auto;
flex-shrink:0;
}

.container-center-vertical {
pointer-events:none;
display:flex;
flex-direction:row;
align-items:center;
height:100%;
}

.container-center-vertical > * {
pointer-events:auto;
flex-shrink:0;
}

.full-height-a {
height:100%;
}

.full-width-a {
width:100%;
}

.hidden,.hidden * {
visibility:hidden;
pointer-events:none;
}

.listeners-active,.listeners-active * {
pointer-events:auto;
}

.listeners-active-click,.listeners-active-click * {
cursor:pointer;
}

.overlay {
position:absolute;
opacity:0;
display:none;
top:0;
width:100%;
height:100%;
position:fixed;
}

.overlay.animate-appear {
opacity:0;
display:block;
animation:reveal .3s ease-in-out 1 normal forwards;
}

.overlay.animate-disappear {
opacity:1;
display:block;
animation:reveal .3s ease-in-out 1 reverse forwards;
}

.screen * {
box-sizing:border-box;
-webkit-font-smoothing:antialiased;
}

.screen a {
text-decoration:none;
display:contents;
}

.screen div {
-webkit-text-size-adjust:none;
}

.screen textarea:focus,.screen input:focus {
outline:none;
}

.smart-layers-pointers,.smart-layers-pointers * {
pointer-events:auto;
visibility:visible;
}

.valign-text-bottom {
display:flex;
flex-direction:column;
justify-content:flex-end;
}

.valign-text-middle {
display:flex;
flex-direction:column;
justify-content:center;
}

@keyframes reveal {
from {
opacity:0;
}

to {
opacity:1;
}
}

input:focus {
outline:none;
}

:root {
--eerie-black:#18191b80;
--white:#ffffffe6;
--white-2:#fff;
--font-size-l:18px;
--font-size-m:16px;
--font-size-s:14px;
--font-size-xl:40px;
--font-size-xs:10px;
--font-family-montserrat:Montserrat,Helvetica;
--font-family-roboto_slab:"Roboto Slab",Helvetica;
}

.robotoslab-normal-white-18px {
color:var(--white);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-l);
font-style:normal;
font-weight:400;
}

.montserrat-medium-white-16px {
color:var(--white-2);
font-family:var(--font-family-montserrat);
font-size:var(--font-size-m);
font-style:normal;
font-weight:500;
}


/* screen - katalog */
.katalog {
background-color:#18191b;
height:863px;

overflow:hidden;
overflow-x:hidden;
position:relative;
width:1440px;
}

.katalog .facebook-xZstl5 {
background-color:transparent;
height:28px;
left:96px;
position:absolute;
top:0;
width:28px;
}

.katalog .footer-C61RwL {
background-color:transparent;
height:105px;
left:0;
position:fixed;
top:747px;
width:1440px;
}

.katalog .frame-39-5eV5YA {
background-color:transparent;
height:74px;
left:143px;

position:absolute;
top:-2px;
width:163px;
}

.katalog .group-27-iPe1yZ {
background-color:transparent;
height:28px;
left:658px;
position:absolute;
top:24px;
width:124px;
}

.katalog .group-3-C61RwL {
background-color:transparent;
height:42px;
left:779px;
position:absolute;
top:334px;
width:166px;
}

.katalog .group-31-hvAGCq {
background-color:transparent;
height:42px;
left:0;
position:relative;
top:0;
width:168px;
}

.katalog .group-4-C61RwL {
background-color:transparent;
height:42px;
left:294px;
position:absolute;
top:561px;
width:168px;
}

.katalog .group-41-CMrZ9S {
background-color:transparent;
height:74px;
left:0;
position:relative;
top:0;
width:167px;
}

.katalog .group-5-C61RwL {
background-color:transparent;
height:42px;
left:779px;
position:absolute;
top:561px;
width:168px;
}

.katalog .group-6-5eV5YA {
background-color:transparent;
height:24px;
left:800px;
position:absolute;
top:30px;
width:500px;
}

.katalog .group-6-C61RwL {
background-color:transparent;
height:42px;
left:294px;
position:absolute;
top:330px;
width:168px;
}

.katalog .image-aacgXn {
background-color:transparent;
height:37px;
left:76px;

position:absolute;
top:39px;
width:96px;
}

.katalog .image-nsa3YJ {
background-color:transparent;
height:31px;
left:75px;

position:absolute;
top:23px;
width:84px;
}

.katalog .instagram-xZstl5 {
background-color:transparent;
height:28px;
left:0;
position:absolute;
top:0;
width:28px;
}

.katalog .line-1-5eV5YA {
background-color:transparent;
height:1px;
left:719px;
position:absolute;
top:161px;
width:1px;
}

.katalog .line-4-iPe1yZ {
background-color:transparent;
height:2px;
left:0;
position:absolute;
top:66px;
width:1440px;
}

.katalog .menu-bar-C61RwL {
background-color:transparent;
height:85px;
left:0;
overflow:hidden;
position:absolute;
top:0;
width:1440px;
}

.katalog .rectangle-11-C61RwL {
background-color:transparent;
height:232px;
left:240px;

object-fit:cover;
position:absolute;
top:193px;
width:480px;
}

.katalog .rectangle-12-C61RwL {
background-color:transparent;
height:232px;
left:720px;

object-fit:cover;
position:absolute;
top:193px;
width:480px;
}

.katalog .rectangle-13-C61RwL {
background-color:transparent;
height:232px;
left:720px;

object-fit:cover;
position:absolute;
top:425px;
width:480px;
}

.katalog .rectangle-14-C61RwL {
background-color:transparent;
height:232px;
left:240px;

object-fit:cover;
position:absolute;
top:425px;
width:480px;
}

.katalog .rectangle-20-iPe1yZ {
background-color:#0f0f0f;
height:105px;
left:0;

position:absolute;
top:0;
width:1440px;
}

.katalog .rectangle-23-5eV5YA {
background-color:#18191b80;
height:85px;
left:0;

position:absolute;
top:0;
width:1440px;
}

.katalog .rectangle-24-BnNbHx {
background-color:transparent;
border-radius:10px;
height:42px;
left:0;
position:absolute;
top:0;
width:166px;
}

.katalog .rectangle-24-KOsP6k {
background-color:transparent;
border-radius:10px;
height:42px;
left:0;
position:absolute;
top:0;
width:166px;
}

.katalog .rectangle-24-PIEh7b {
background-color:transparent;
border-radius:10px;
height:42px;
left:0;
position:absolute;
top:0;
width:166px;
}

.katalog .rectangle-24-iZjIT4 {
background-color:transparent;
border-radius:10px;
height:42px;
left:0;
position:absolute;
top:0;
width:166px;
}

.katalog .textlabel-2P4qUJ {
background-color:transparent;
height:auto;
left:294px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:center;
top:230px;
width:auto;
}

.katalog .textlabel-BnNbHx {
background-color:transparent;
height:auto;
left:48px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:10px;
width:auto;
}

.katalog .textlabel-C61RwL {
background-color:transparent;
height:auto;
left:147px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:110px;
width:auto;
}

.katalog .textlabel-FtquBM {
background-color:transparent;
height:auto;
left:398px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.katalog .textlabel-J1YQmd {
background-color:transparent;
height:auto;
left:294px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:center;
top:462px;
width:auto;
}

.katalog .textlabel-KOsP6k {
background-color:transparent;
height:auto;
left:48px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:10px;
width:auto;
}

.katalog .textlabel-PIEh7b {
background-color:transparent;
height:auto;
left:48px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:10px;
width:auto;
}

.katalog .textlabel-QxM5SU {
background-color:transparent;
height:auto;
left:779px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:center;
top:462px;
width:auto;
}

.katalog .textlabel-VMr6Om {
background-color:transparent;
height:auto;
left:779px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:496px;
width:auto;
}

.katalog .textlabel-a5WPlX {
background-color:transparent;
height:auto;
left:779px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:269px;
width:auto;
}

.katalog .textlabel-cPzzMH {
background-color:transparent;
height:auto;
left:174px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.katalog .textlabel-gpwKP7 {
background-color:transparent;
height:auto;
left:0;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.katalog .textlabel-iXTgFq {
background-color:transparent;
height:auto;
left:278px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.katalog .textlabel-iZjIT4 {
background-color:transparent;
height:auto;
left:48px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:10px;
width:auto;
}

.katalog .textlabel-mzXdH9 {
background-color:transparent;
height:auto;
left:294px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:265px;
width:auto;
}

.katalog .textlabel-qr8e7q {
background-color:transparent;
height:auto;
left:779px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:center;
top:230px;
width:auto;
}

.katalog .textlabel-wEdWNf {
background-color:transparent;
height:auto;
left:79px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.katalog .vector-1-5eV5YA {
background-color:transparent;
height:1px;
left:0;
position:absolute;
top:84px;
width:1440px;
}

.katalog .vector-3y9sZQ {
background-color:transparent;
height:26px;
left:1px;

position:absolute;
top:1px;
width:26px;
}

.katalog .vector-C9oVer {
background-color:transparent;
height:24px;
left:2px;

position:absolute;
top:2px;
width:24px;
}

.katalog .vector-al5l8B {
background-color:transparent;
height:24px;
left:2px;

position:absolute;
top:2px;
width:24px;
}

.katalog .whats-app-xZstl5 {
background-color:transparent;
height:28px;
left:48px;
position:absolute;
top:0;
width:28px;
}

.katalog .x-C61RwL {
background-color:transparent;
height:auto;
left:210px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:110px;
width:auto;
}

.katalog .x-VMr6Om {
background-color:transparent;
height:auto;
left:294px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:496px;
width:auto;
}

.katalog .x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ {
background-color:transparent;
height:58px;
left:112px;

position:absolute;
top:8px;
width:128px;
}

.katalog .x1m-gh-bb-vn-m0-ovebg-preview-2-nsa3YJ {
background-color:transparent;
height:80px;
left:-4px;

position:absolute;
top:1px;
width:91px;
}

.katalog .x2016-2020-iPe1yZ {
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:300;
height:auto;
left:561px;
letter-spacing:.5px;
line-height:normal;

position:absolute;
text-align:left;
top:80px;
width:auto;
}