<style>
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400|Roboto:400');

/* screen - katalog-kvartiry-1 */

.katalog-kvartiry-1 {
  background-color: #18191b;
  height: 2121px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.katalog-kvartiry-1 .facebook-xZstl5 {
  --z-index: 2;
  background-color: transparent;
  height: 28px;
  left: 96px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 28px;
}
.katalog-kvartiry-1 .footer-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 105px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2016px;
  width: 1440px;
}
.katalog-kvartiry-1 .frame-39-5eV5YA {
  --z-index: 3;
  background-color: transparent;
  height: 74px;
  left: 143px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -2px;
  width: 163px;
}
.katalog-kvartiry-1 .group-27-iPe1yZ {
  --z-index: 4;
  background-color: transparent;
  height: 28px;
  left: 658px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: 124px;
}
.katalog-kvartiry-1 .group-32-C61RwL {
  --z-index: 3;
  background-color: transparent;
  height: 362px;
  left: 147px;
  opacity: 1;
  position: absolute;
  top: 410px;
  width: 362px;
}
.katalog-kvartiry-1 .group-41-CMrZ9S {
  --z-index: 0;
  background-color: transparent;
  height: 74px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 167px;
}
.katalog-kvartiry-1 .group-6-5eV5YA {
  --z-index: 2;
  background-color: transparent;
  height: 24px;
  left: 800px;
  opacity: 1;
  position: absolute;
  top: 30px;
  width: 500px;
}
.katalog-kvartiry-1 .i14481210-gpwKP7 {
  --z-index: 0;
  background-color: transparent;
  color: #ffffffe6;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.katalog-kvartiry-1 .i14481211-gpwKP7 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffffe6;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.katalog-kvartiry-1 .i14481212-gpwKP7 {
  --z-index: 2;
  background-color: transparent;
  color: #ffffffe6;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 174px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.katalog-kvartiry-1 .i14481213-gpwKP7 {
  --z-index: 3;
  background-color: transparent;
  color: #ffffffe6;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 278px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.katalog-kvartiry-1 .i14481214-gpwKP7 {
  --z-index: 4;
  background-color: transparent;
  color: #ffffffe6;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 398px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.katalog-kvartiry-1 .image-aacgXn {
  --z-index: 1;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/-------------1@2x.svg);
  background-size: 100% 100%;
  height: 37px;
  left: 76px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 39px;
  width: 96px;
}
.katalog-kvartiry-1 .image-nsa3YJ {
  --z-index: 0;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/----------1@2x.svg);
  background-size: 100% 100%;
  height: 31px;
  left: 75px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 23px;
  width: 84px;
}
.katalog-kvartiry-1 .instagram-xZstl5 {
  --z-index: 0;
  background-color: transparent;
  height: 28px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 28px;
}
.katalog-kvartiry-1 .line-1-5eV5YA {
  --z-index: 1;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/line-1-1@1x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 719px;
  opacity: 1;
  position: absolute;
  top: 161px;
  width: 1px;
}
.katalog-kvartiry-1 .line-4-iPe1yZ {
  --z-index: 3;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/line-4@1x.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 66px;
  width: 1440px;
}
.katalog-kvartiry-1 .menu-bar-C61RwL {
  --z-index: 18;
  background-color: transparent;
  height: 85px;
  left: 0px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.katalog-kvartiry-1 .rectangle-20-iPe1yZ {
  --z-index: 0;
  background-color: #0f0f0f;
  height: 105px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.katalog-kvartiry-1 .rectangle-23-5eV5YA {
  --z-index: 0;
  background-color: #18191b80;
  height: 85px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.katalog-kvartiry-1 .rectangle-40-rXywx8 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-40@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-41-C61RwL {
  --z-index: 7;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-41@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 539px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-42-C61RwL {
  --z-index: 11;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-42@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 931px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-43-C61RwL {
  --z-index: 4;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-43@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 147px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 802px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-44-C61RwL {
  --z-index: 8;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-44@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 539px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 802px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-45-C61RwL {
  --z-index: 12;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-45@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 931px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 802px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-46-C61RwL {
  --z-index: 5;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-46@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 147px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 1194px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-47-C61RwL {
  --z-index: 9;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-46@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 539px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 1194px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-48-C61RwL {
  --z-index: 13;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-46@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 931px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 1194px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-49-C61RwL {
  --z-index: 6;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-46@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 147px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 1586px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-50-C61RwL {
  --z-index: 10;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-46@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 539px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 1586px;
  width: 362px;
}
.katalog-kvartiry-1 .rectangle-51-C61RwL {
  --z-index: 14;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/rectangle-46@2x.png);
  background-size: 100% 100%;
  height: 362px;
  left: 931px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 1586px;
  width: 362px;
}
.katalog-kvartiry-1 .shutterstock131654735-1-C61RwL {
  --z-index: 1;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/shutterstock-131654735-1@1x.png);
  background-size: 100% 100%;
  height: 218px;
  left: 2px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 85px;
  width: 1436px;
}
.katalog-kvartiry-1 .textlabel-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 170px;
  width: auto;
}
.katalog-kvartiry-1 .textlabel-VMr6Om {
  --z-index: 16;
  background-color: transparent;
  color: #ffffff99;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 217px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 328px;
  width: auto;
}
.katalog-kvartiry-1 .vector-1-5eV5YA {
  --z-index: 4;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/vector-1-3@1x.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 84px;
  width: 1440px;
}
.katalog-kvartiry-1 .vector-3y9sZQ {
  --z-index: 0;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/vector-1@2x.svg);
  background-size: 100% 100%;
  height: 26px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 26px;
}
.katalog-kvartiry-1 .vector-C9oVer {
  --z-index: 0;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/vector-3@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 2px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 24px;
}
.katalog-kvartiry-1 .vector-al5l8B {
  --z-index: 0;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/vector@2x.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 2px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 24px;
}
.katalog-kvartiry-1 .whats-app-xZstl5 {
  --z-index: 1;
  background-color: transparent;
  height: 28px;
  left: 48px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 28px;
}
.katalog-kvartiry-1 .x-C61RwL {
  --z-index: 15;
  background-color: transparent;
  color: #ffffff99;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 147px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 328px;
  width: auto;
}
.katalog-kvartiry-1 .x-VMr6Om {
  --z-index: 17;
  background-color: transparent;
  color: #ffffff99;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 277px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 328px;
  width: auto;
}
.katalog-kvartiry-1 .x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/1m-ghbbvnm0-removebg-preview-2@2x.png);
  background-size: 100% 100%;
  height: 58px;
  left: 112px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 8px;
  width: 128px;
}
.katalog-kvartiry-1 .x1m-gh-bb-vn-m0-ovebg-preview-2-nsa3YJ {
  --z-index: 2;
  background-color: transparent;
  background-image: url(https://cdn.animaapp.com/projects/60cbb77dd9720ba001810326/img/1m-ghbbvnm0-removebg-preview-2-5@2x.png);
  background-size: 100% 100%;
  height: 80px;
  left: -4px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 91px;
}
.katalog-kvartiry-1 .x2016-2020-iPe1yZ {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto Slab', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 561px;
  letter-spacing: 0.50px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 80px;
  width: auto;
}
</style>