/* импорт шрифтов */

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500";

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Roboto:400|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Montserrat:400,500";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

/* базовые */

:root {
--eerie-black:#18191b80;
--white:#ffffffe6;
--white-2:#fff;
--font-size-l:18px;
--font-size-m:16px;
--font-size-s:14px;
--font-size-xl:40px;
--font-size-xs:10px;
--font-family-montserrat:Montserrat,Helvetica;
--font-family-roboto_slab:"Roboto Slab",Helvetica;
}

body {
	background: #18191b; 
	width: 100vw;
	height: 100vh;
	color: white;
	overflow-x: hidden;
}

#menu-bar {
	position:fixed;
	width: 100vw;
	height: 10vh;
	z-index:9999999;
}

a.small-logo {
	display: inline-block;
	height:100%;
	padding-top: 0vh;
	padding-left: 7vw;
}

a.menu-bar-first {
	display: inline-block;
	text-decoration:none;
	color: rgba(255, 255, 255, 1)!important;
	padding-left:36vw;
	text-align:center;
	font-family: Roboto Slab;
	font-size: 1.3vw;
	padding-bottom: 11vh;
	vertical-align: middle;
}

a.menu-bar-a:active,a.menu-bar-a:hover,a.menu-bar-a {
	display: inline-block;
	text-decoration:none;
	color: rgba(255, 255, 255, 1)!important;
	padding-left:2vw;
	text-align:center;
	font-family: Roboto Slab;
	font-size: 1.3vw;
	padding-bottom: 11vh;
	vertical-align: middle;
}

.footer {
	width:100vw;
}

.footer-text {
	font-family: Roboto Slab;
	font-size: 0.9vh;
	color: rgba(255, 255, 255, 0.5)!important;
	line-height: 3vh;
	letter-spacing: 0.05em;
	text-align:center;
}

.footer-logo {
	display:inline-block;
	height:auto;
	margin-bottom: 0.01%;
	margin-left:4.3vw;
	width:4vw;
}

.footer-icon-first {
	display:inline-block;
	padding-left: 25vw;
	margin-top: -4vh;
	vertical-align: middle;
}

.footer-icon-first img{
	width: 2.55vw;
	height: 3.45vh;
}

.footer-icon {
	display:inline-block;
	margin-top: -4vh;
	vertical-align: middle;
}

.footer-icon img{
	width: 2.55vw;
	height: 3.45vh;
}

/* стили главной страницы */

.index .dmitrov-background {
	height:90vh;
	width:100vw;
}

.index .big-logo {
	width: 73vw;
	height: 50vh;
	padding-left:25.6vw;
	padding-top:7.6vh;
}

.index .agency-label {
	height: 11vh;
	width: 77.43vw;
	padding-left:20.6vw;
}

.index .button-label {
	margin-left:38vw;
	height:8vh;
	width:22.22vw;
}

.index .button-label p, a{
	text-decoration:none;
	font-family: Roboto Slab;
	font-weight: 300;
	font-size: 2.52vh;
	line-height: 2.4vh;
	color: rgba(255, 255, 255, 0.7);
	padding-left: 5.5vw;
	padding-top: 2.7vh;
}

.index .houses-box {
	display: table;
	background-color:#18191b;
	height:27.5vh;
	overflow:hidden;
	margin-top:12.3vh;
	margin-right:0;
	width:133vw;
}

.index .houses {
	display: table-cell;
	vertical-align: middle;
	height:27.5vh;
	padding-left:0;
	width:33.3vw;
}

.index .houses a{
	color: #fff !important;
	text-decoration:none;
}

.index .houses-title {
	font-family: Montserrat;
	font-size: 1.3vw;
	line-height: 1.9vw;
	text-transform: uppercase;
	margin-top:3.8vh;
	margin-left:4vw;
}

.index .houses-text {
	font-family: Montserrat;
	font-size: 1.1vw;
	line-height: 1.9vw;
	margin-left:4vw;
	padding-top:1vh;
}

.index .houses-button {
	height:6.25vh;
	width:13vw;
	margin-left:4vw;
	border: 1px white solid;
	border-radius: 10px;
}

.index .houses-button p {
	font-family: Roboto Slab;
	font-size: 1.1vw;
	padding-left: 2.8vw;
	padding-top: 1.75vh;
	color: rgba(255, 255, 255, 0.9);
}

.index .consult-background {
	height:31vh;
	margin-top:4vh;
	width:100vw;
}

.index .consult-title {
	height:2.7vh;
	margin-left:27.2vw;
	margin-top:4.2vh;
	width:45.4vw;
}


.index .consult-form {
	height:6.6vh;
	display: table;
}

.index .consult-input1 {
	margin-top: 7.4vh;
	margin-left: 21vw;
	padding-left: 1.3vw;
	color: white;
	width: 17.3vw;
	resize: none;
	outline: none;
	background-color: rgba(0, 125, 215, 0);
}

::-webkit-input-placeholder {
	font-size: 0.97vw;
}

.input .consult-cell {
	display: table-cell;
	vertical-align: middle;
}

.index .consult-input2 {
	margin-left: 2.7vw;
	padding-left: 0.69vw;
	color: white;
	width: 17.3vw;
	resize: none;
	outline: none;
	border: 0px solid;
	background-color: rgba(0, 125, 215, 0);
}

.index .consult-button {
	font-family: Roboto Slab;
	font-size: 1.75vh;
	line-height: 2.26vh;
	color: rgba(255, 255, 255, 0.9);
	margin-left: 1.38vw;
	width: 17.3vw;
	background: #333;
	border: 1px solid #c93;
	border-radius: 10px;
}

.index .consult-text {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 0.659vw;
	line-height: 1.2vh;
}

.index .consult-button {
	height:7.8vh;
	width:14.3vw;
}

.index .consult-checkbox {
	height:1.3vh;
	width:1vw;
	margin-left: 2.77vw;
}

.index .example-title {
	font-family: Roboto Slab;
	font-size: 2.7vw;
	line-height: 4.9vh;
	color: rgba(255, 255, 255, 0.9);
	margin-left:39.3vw;
	margin-top:4vh;
}

.index .example-house1 {
	height:46vh;
	width:25.2vw;
	margin-top:5.83vh;
	margin-left:10.3vw;
}

.index .example-house2 {
	height:46vh;
	width:25.2vw;
	margin-top:5.88vh;
	padding-left:2vw;
}

.index .example-button {
	height:6vh;
	margin-top:4vh;
	margin-left:42.7vw;
	width:14.5vw;
	background: #333;
	border: 1px solid #c93;
	border-radius: 10px;
}

.index .example-button p{
	padding-top:2.2vh;
	text-align: center;
	font-family: Roboto Slab;
	font-size: 0.97vw;
	line-height: 1.66vh;
	color: rgba(255, 255, 255, 0.9);
}

.query-button {
	z-index: 999;
	height:4vh;
	margin-left:4.16vw;
	margin-top: 30vh;
	width:14.5vw;
}

.query-background {
	position: absolute;
	width: 23.06vw;
	height: 43.86vh;
	left: 66.6vw;
	top: 333vh;
	z-index: 999;
}

.query-button p{
	font-family: Roboto Slab;
	font-size: 1.29vh;
	line-height: 1.66vh;
	text-align: center;
	padding-top: 1.01vh;
	color: rgba(255, 255, 255, 0.9);
}

.index .church {
	height:80vh;
	left:64.652vw;
	position:absolute;
	top:100vh;
	width:35.34vw;
}

.index .title-label {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 5vh;
	line-height: 4.9vh;
	margin-left:9.93vw;
	margin-top:19.16vh;
}

.index .text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 2.3vh;
	line-height: 3.4vh;
	padding-top:2.31vh;
	margin-left:10.27vw;
	text-align:left;
	width:45.13vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .cells {
	display: table;
}

.index .label-cell {
	display: table-cell;
	vertical-align: middle;
}

.index .label-10 {
	margin-left:9.72vw;
	margin-top:4.15vh;
	width: 8.61vw;
	height: 13.97vh;
}

.index .label-1000 {
	margin-left:3.47vw;
	margin-top:4.4vh;
	width: 16.25vw;
	height: 13.97vh;
}

.index .label-50 {
	margin-left:3.47vw;
	margin-top:4.4vh;
	width: 16.25vw;
	height: 13.97vh;
}

.index .text-10 {
	font-family: Montserrat;
	font-size: 1.79vh;
	line-height: 2.14vh;
	text-align: center;
	margin-left:7.29vw;
	width:13.54vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .text-1000 {
	font-family: Montserrat;
	font-size: 1.79vh;
	line-height: 2.14vh;
	text-align: center;
	margin-left:4.86vw;
	width:13.54vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .text-50 {
	font-family: Montserrat;
	font-size: 1.79vh;
	line-height: 2.14vh;
	text-align: center;
	margin-left:4.86vw;
	width:13.54vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .map {
	height: 60vh;
	width:100vw;
	margin-top: 1.85vh;
}

/* стили страницы "О нас" */

.about .workers-box {
	height:100vh;
	left:10.2vw;
	position:absolute;
	top:140.3vh;
	width:79.86vw;
}

.about .name1 {
	z-index: 3;
	background-color:transparent;
	height:2.27vh;
	left:19.375vw;
	position:absolute;
	top:197.97vh;
	width:6.875vw;
}

.about .name2 {
	z-index: 3;
	background-color:transparent;
	height:2.27vh;
	left:46.25vw;
	position:absolute;
	top:197.23vh;
	width:7.57vw;
}

.about .name3 {
	z-index: 3;
	background-color:transparent;
	height:2.02vh;
	left:75.21vw;
	position:absolute;
	top:197.36vh;
	width:3.96vw;
}

.about .worker1-type {
	z-index: 2;
	background-color:transparent;
	color:var(--white-2);
	font-family:var(--font-family-roboto_slab);
	font-size:var(--font-size-l);
	left:9.65vw;
	position:absolute;
	top:45.5vh;
}

.about .about-query-button {
	margin-left: 42.15vw;
	margin-top: -1.26vh;
	height:7.43vh;
	width:16.67vw;
}

.about .about-query-button p{
	text-align: center;
	padding-top: 2.52vh;
	font-family: Roboto Slab;
	font-size: 1.76vh;
	line-height: 2.27vh;
	color: #FFFFFF;
}

.about #info-background {
	height:88.16vh;
	width:42.15vw;
}

.about .info-title {
	display: block;
	margin-left: 6.94vw;
	padding-top: 7.56vh;
	font-family: Roboto Slab;
	font-size: 5.04vh;
	line-height: 6.68vh;
	color: #FFFFFF;
}

.about .info-text {
	width: 37.64vw;
	margin-left: 6.94vw;
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.52vh;
	color: rgba(255, 255, 255, 0.7);
}

.about .info-text-bold {
	width: 37.64vw;
	margin-left: 6.94vw;
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.52vh;
	color: #FFFFFF;
}

.about .about-query-background {
	background-color:#fab702;
	box-shadow:0 4px 4px #10101242;
	height:9.82vh;
	width:100vw;
}

.about .worker1 {
	height:49.87vh;
	left:0;
	position:absolute;
	top:14.86vh;
	width:25.14vw;
}

.about .worker2 {
	height:49.87vh;
	left:0;
	position:absolute;
	top:76.07vh;
	width:25.14vw;
}

.about .worker3 {
	height:49.87vh;
	left:27.22vw;
	position:absolute;
	top:14.86vh;
	width:25.14vw;
}

.about .worker5 {
	height:49.87vh;
	left:54.44vw;
	position:absolute;
	top:14.86vh;
	width:25.14vw;
}

.about .worker4 {
	height:49.87vh;
	left:27.22vw;
	position:absolute;
	top:76.07vh;
	width:25.14vw;
}

.about .worker6 {
	height:49.87vh;
	left:54.44vw;
	position:absolute;
	top:76.07vh;
	width:25.14vw;
}

.about .worker1-name {
	z-index: 1;
	background-color:var(--eerie-black);
	height:9.45vh;
	left:0;
	position:absolute;
	top:40.5vh;
	width:25.14vw;
}

.about .worker2-name {
	z-index: 1;
	background-color:var(--eerie-black);
	height:9.45vh;
	left:27.22vw;
	position:absolute;
	top:40.5vh;
	width:25.14vw;
}

.about .worker3-name {
	z-index: 1;
	background-color:var(--eerie-black);
	height:9.45vh;
	left:54.44vw;
	position:absolute;
	top:40.5vh;
	width:25.14vw;
}

.about .worker4-name {
	z-index: 1;
	background-color:var(--eerie-black);
	height:9.45vh;
	left:54.44vw;
	position:absolute;
	top:116.5vh;
	width:25.14vw;
}

.about .worker5-name {
	z-index: 1;
	background-color:var(--eerie-black);
	height:9.45vh;
	left:27.22vw;
	position:absolute;
	top:116.5vh;
	width:25.14vw;
}

.about .worker6-name {
	z-index: 1;
	background-color:var(--eerie-black);
	height:9.45vh;
	left:0;
	position:absolute;
	top:116.5vh;
	width:25.14vw;
}

.about .background1 {
	background-color:transparent;
	height:28.59vh;
	left:16.81vw;
	position:absolute;
	top:196.85vh;
	width:66.46vw;
}

.about .background2 {
	background-color:transparent;
	height:83.12vh;
	left:88.06vw;
	position:absolute;
	top:162.59vh;
	width:29.72vw;
}

.about .background3 {
	background-color:transparent;
	height:27.33vh;
	left:45.9vw;
	position:absolute;
	top:195.09vh;
	width:8.19vw;
}

.about .background4 {
	background-color:transparent;
	height:83.12vh;
	left:0.78vw;
	position:absolute;
	top:162.59vh;
	width:29.72vw;
}

.about .title-background {
	height:27.46vh;
	width:100vw;
}

.about .title-text {
	padding-top: 11.59vh;
	padding-left: 10.21vw;
	font-family: Roboto Slab;
	font-size: 5.04vh;
	line-height: 6.68vh;
	color: rgba(255, 255, 255, 0.9);
}

.about .workers-title {
	margin-left: 38.54vw;
	margin-top: 3.65vh;
	font-family: Roboto Slab;
	font-size: 5.04vh;
	line-height: 6.68vh;
	color: rgba(255, 255, 255, 0.9);
}

/* стили страницы "Каталог"*/

.katalog .dachi-image {
	height:29.22vh;
	left:16.67vw;
	position:absolute;
	top:24.31vh;
	width:33.33vw;
}

.katalog .arenda-image {
	height:29.22vh;
	left:50vw;
	position:absolute;
	top:24.31vh;
	width:33.33vw;
}

.katalog .kvartiri-image {
	height:29.22vh;
	left:50vw;
	position:absolute;
	top:53.53vh;
	width:33.33vw;
}

.katalog .land-image {
	height:29.22vh;
	left:16.67vw;
	position:absolute;
	top:53.53vh;
	width:33.33vw;
}

.katalog .dachi-button {
	border-radius:10px;
	height:5.29vh;
	left:20.83vw;
	position:absolute;
	top:42.82vh;
	width:11.53vw;
}

.katalog .dachi-button p{
	padding-top: 1.26vh;
	text-align: center;
	font-family: Roboto Slab;
	font-size: 2.02vh;
	line-height: 2.64vh;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .land-button {
	border-radius:10px;
	height:5.29vh;
	left:20.83vw;
	position:absolute;
	top:70.65vh;
	width:11.53vw;
}

.katalog .land-button p{
	padding-top: 1.26vh;
	text-align: center;
	font-family: Roboto Slab;
	font-size: 2.02vh;
	line-height: 2.64vh;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .kvartiri-button {
	height:5.29vh;
	left:54.1vw;
	position:absolute;
	top:70.65vh;
	width:11.53vw;
}

.katalog .kvartiri-button p{
	padding-top: 1.26vh;
	text-align: center;
	font-family: Roboto Slab;
	font-size: 2.02vh;
	line-height: 2.64vh;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .arenda-button {
	background-color:transparent;
	border-radius:10px;
	height:5.29vh;
	left:54.1vw;
	position:absolute;
	top:42.82vh;
	width:11.53vw;
}

.katalog .arenda-button p{
	padding-top: 1.26vh;
	text-align: center;
	font-family: Roboto Slab;
	font-size: 2.02vh;
	line-height: 2.64vh;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .dachi-title {
	font-family: Montserrat;
	font-size: 2.52vh;
	line-height: 3.02vh;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	left:20.42vw;
	position:absolute;
	top:28.97vh;
}

.katalog .index-text {
	font-family: Roboto Slab;
	font-size: 1.76vh;
	line-height: 2.27vh;
	color: rgba(255, 255, 255, 0.6);
	left:10.21vw;
	position:absolute;
	text-align:left;
	top:13.85vh;
}

.katalog .land-title {
	font-family: Montserrat;
	font-size: 2.52vh;
	line-height: 3.02vh;
	text-align: center;
	color: #FFFFFF;
	left:20.42vw;
	position:absolute;
	top:58.19vh;
}

.katalog .kvartiri-title {
	font-family: Montserrat;
	font-size: 2.52vh;
	line-height: 3.02vh;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	left:54.1vw;
	position:absolute;
	top:58.19vh;
}

.katalog .kvartiri-label {
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.52vh;
	color: #FFFFFF;
	left:54.1vw;
	position:absolute;
	top:62.47vh;
}

.katalog .arenda-label {
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.52vh;
	color: #FFFFFF;
	left:54.1vw;
	position:absolute;
	top:33.88vh;
}

.katalog .dachi-label {
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.52vh;
	color: #FFFFFF;
	left:20.42vw;
	position:absolute;
	top:33.38vh;
}

.katalog .arenda-title {
	font-family: Montserrat;
	font-size: 2.52vh;
	line-height: 3.02vh;
	text-align: center;
	color: #FFFFFF;
	left:54.1vw;
	position:absolute;
	top:28.97vh;
}

.katalog .land-label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 2.02vh;
	line-height: 2.52vh;
	color: #FFFFFF;
	left:20.42vw;
	position:absolute;
	text-align:left;
	top:62.47vh;
}

/* стили страницы услуг */

.services .info-button {
	height:10.08vhvw;
	margin-left:42.15vw;
	margin-top:6.05vh;
	width:15.69vw;
	padding-bottom: 3.78vh;
}

.services .info-button p{
	font-family: Roboto Slab;
	font-size: 1.76vh;
	line-height: 2.27vh;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3.78vh;
}

.services .info-photo1 {
	display: inline;
	height:57.93vh;
	width:44.1vw;
}

.services .rectangle-72-C61RwL {
	background-color:#1a1b1d;
	height:50.38vh;
	left:44.24vw;
	position:absolute;
	top:96.1vh;
	width:55.76vw;
}

.services .background {
	height:27.46vh;
	width:100vw;
}

.services .title {
	font-family: Roboto Slab;
	font-size: 4.53vh;
	line-height: 5.92vh;
	color: #FFFFFF;
	padding-left:10.21vw;
	padding-top:10.71vh;
}

.services .info-text2 {
	font-family: Montserrat;
	font-size: 1.89vh;
	line-height: 3vh;
	color: #FFFFFF;
	margin-top: 12vh;
	margin-left: 6.81vw;
	color: rgba(255, 255, 255, 0.7);
}

.services li{
	list-style-type: disc;
	line-height: 3vh;
	list-style-position: inside;
}

.services .info-text3 {
	font-family: Montserrat;
	font-size: 1.89vh;
	line-height: 2.27vh;
	color: #FFFFFF;
	margin-top: 19.14vh;
	margin-left: 10.21vw;
	color: rgba(255, 255, 255, 0.7);
}

.services .info-text-first {
	font-family: Montserrat;
	font-size: 2.27vh;
	line-height: 2.77vh;
	color: #FFFFFF;
	margin-top: 3.27vh;
	margin-left: 10.21vw;
	color: rgba(255, 255, 255, 0.8);
}

.services .info-text {
	font-family: Montserrat;
	font-size: 1.89vh;
	line-height: 2.27vh;
	color: #FFFFFF;
	margin-top: 3.15vh;
	margin-left: 10.21vw;
	color: rgba(255, 255, 255, 0.7);
}

.services .info-text-label {
	font-family: Roboto Slab;
	font-size: 5.04vh;
	line-height: 6.68vh;
	color: #FFFFFF;
	margin-top: 7.56vh;
	margin-left: 10.21vw;
}



/* страница "Вакансии" */

.jobopenings .button {
	height:10.08vh;
	margin-left:41.32vw;
	margin-top:4.45vh;
	width:17.36vw;
}

.jobopenings .button p{
	font-family: Roboto Slab;
	font-size: 1.76vh;
	line-height: 2.27vh;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3.78vh;
}

.jobopenings .background {
	height:27.46vh;
	width:100vw;
}

.jobopenings .title {
	font-family: Roboto Slab;
	font-size: 4.53vh;
	line-height: 5.92vh;
	color: #FFFFFF;
	padding-top: 10.71vh;
	margin-left: 12vw;
}

.jobopenings .text {
	font-family: Montserrat;
	font-size: 2.27vh;
	line-height: 2.77vh;
	color: #FFFFFF;
	margin-left: 10vw;
	padding-top: 8.19vh;
	width: 79.38vw;
	line-height: 2.76vh;
	color: rgba(255, 255, 255, 0.75);
}

/* страница "Контакты" */

.contacts .button {
	height:10.08vh;
	left:42.15vw;
	position:absolute;
	top:146.6vh;
	width:15.69vw;
}

.contacts .button {
	font-family: Roboto Slab;
	font-size: 1.76vh;
	line-height: 2.27vh;
	color: #FFFFFF;
	padding-top: 3.88vh;
	padding-left: 3.73vw;
}

.contacts .background {
	height:27.46vh;
	width:100vw;
}

.contacts .title {
	font-family: Roboto Slab;
	font-size: 4.53vh;
	line-height: 5.92vh;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 10.71vh;
	padding-left: 10.07vw;
}

.contacts .address-title {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: #FFFFFF;
	left:10.21vw;
	position:absolute;
	top:50.76vh;
}

.contacts .mobile-title {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: #FFFFFF;
	left:10.21vw;
	position:absolute;
	top:60.71vh;
}

.contacts .time-title {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: #FFFFFF;
	left:10.21vw;
	position:absolute;
	top:71.41vh;
}

.contacts .map {
	height:60.2vh;
	left:0.28vw;
	position:absolute;
	top:82.87vh;
	width:100vw;
}

.contacts .address {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: rgba(255, 255, 255, 0.9);
	left:21.74vw;
	position:absolute;
	text-align:left;
	top:50.76vh;
}

.contacts .mobile-num2 {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: rgba(255, 255, 255, 0.9);
	left:21.74vw;
	position:absolute;
	top:65.74vh;
}

.contacts .mobile-num1 {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: rgba(255, 255, 255, 0.9);
	left:21.74vw;
	position:absolute;
	top:60.71vh;
}

.contacts .time {
	font-family: Roboto Slab;
	font-size: 3.02vh;
	line-height: 4.03vh;
	color: rgba(255, 255, 255, 0.9);
	left:21.74vw;
	position:absolute;
	top:71.41vh;
}


/* карточка товара */

.estate {
	padding-top: 20vh; 
	background-color: #18191b;
	height: 130vh;
}

.estate .back-text-arrow {
	height: 2.15vh;
	width: 8.19vw;
	height: 2.15vh;
	width: 8.19vw;
	left: 7.92vw;
	position: absolute;
	top: 14.16vh;
}

.estate .main-photo {
	height: 82.17vh;
	width: 42.15vw;
}

.estate .gallery-first {
	display: inline-block;
	height: 11vh;
	width: 6vw;
	margin-left: 5.42vw;
	margin-top: 2.78vh;
	border: 0.065vh white solid;
	vertical-align: middle;
}
.estate .gallery {
	display: inline-block;
	height: 11vh;
	width: 6vw;
	margin-left: 0;
	margin-top: 2.78vh;
	border: 0.065vh white solid;
	vertical-align: middle;
}

.estate .arrow {
	display: inline-block;
	background-color: transparent;
	border: 0.13vh solid #ffffffcc;
	border-radius: 10px;
	height: 5.06vh;
	margin-left: 2vw;
	margin-top: 2.78vh;
	vertical-align: middle;
	width: 2.78vw;
}

.estate .arrow-element {
	height: 2.4vh;
	margin-top: 1.26vh;
	margin-left: 0.97vw;
	width: 0.7vw;
}

.estate .button {
	height:10.08vh;
	width:15.69vw;
	margin-left:1vw;
	margin-top:2vh;
}

.estate .button p{
	font-family: Roboto Slab;
	font-size: 1.77vh;
	line-height: 2.28vh;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	padding-left:3vw;
	padding-top:4vh;
}

.estate .title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	margin-left: 1vw;
	font-size: 3.8vh;
	line-height: 4.42vh;
	color: #FFFFFF;
}

.estate .area {
	display:inline-block;
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.53vh;
	color: #FFFFFF;
	margin-top: 3.16vh;
	margin-left: 1vw;
}

.estate .area-value {
	display:inline-block;
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.53vh;
	color: #FFFFFF;
	margin-top: 3.16vh;
	margin-left: 1.18vw;
}

.estate .price {
	display:inline-block;
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.53vh;
	color: #FFFFFF;
	margin-top: 1.01vh;
	margin-left: 1vw;
}

.estate .price-value {
	display:inline-block;
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 2.53vh;
	color: #FFFFFF;
	margin-top: 1.01vh;
	margin-left: 3.54vw;
}

.estate .text {
	font-family: Montserrat;
	font-size: 2.02vh;
	line-height: 3.5vh;
	color: #FFFFFF;
	margin-top: 3.16vh;
	margin-left: 1vw;
	width: 38.68vw;
}

/* страница подкаталога */

.subcatalog {
	background-color: #18191b;
	padding-top: 10.75vh;
	width: 100vw;
}

.subcatalog .background {
	height: 20vh;
	width: 100vw;
}

.subcatalog .title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 4.55vh;
	line-height: 5.94vh;
	color: #FFFFFF;
	margin-left: 10.07vw;
	padding-top: 10.75vh;
}

.subcatalog .estate-elem-first {
	display: inline-block;
	margin-left: 10.21vw;
	margin-top: 3.79vh;
	height: 45.76vh;
	width: 25.14vw;
}

.subcatalog .estate-elem {
	display: inline-block;
	margin-left: 2.08vw;
	margin-top: 3.79vh;
	height: 45.76vh;
	width: 25.14vw;
}

.subcatalog .text-first {
	margin-left: 10.21vw;
	margin-top: 3.16vh;
	margin-bottom: 8.09vh;
	font-family: Roboto Slab;
	font-size: 1.77vh;
	line-height: 2.28vh;
	color: rgba(255, 255, 255, 0.6);
	display: inline-block;
}

.subcatalog .text-first a{
	margin: 0;
	padding: 0;
}

.subcatalog .text {
	font-family: Roboto Slab;
	font-size: 1.77vh;
	line-height: 2.28vh;
	color: rgba(255, 255, 255, 0.6);
	display: inline-block;
}

.subcatalog .text a{
	margin: 0;
	padding: 0;
}

/* окно добавления заявки*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400|Montserrat:400');

.query {
	z-index: 99999;
}

.query .button {
	z-index: 99999;
	height: 7.89vh;
	left: 42.85vw;
	position: fixed;
	top: 75.29vh;
	width: 14.31vw;
	background: #333;
	border: 1px solid #c93;
	border-radius: 10px;
	font-family: Roboto Slab;
	font-size: 1.75vh;
	line-height: 2.26vh;
	color: rgba(255, 255, 255, 0.9);
}

.query .title {
	z-index: 99999;
	height: 4vh;
	left: 21.315vw;
	position: fixed;
	top: 22vh;
	width: 57.37vw;
}

.query .background {
	z-index: 99999;
	opacity: 1;
	height: 80vh;
	left: 0;
	position: fixed;
	top: 10vh;
	width: 100vw;
}

.query .input1 {
	z-index: 99999;
	height: 1.88vh;
	left: 43.33vw;
	position: fixed;
	top: 84.31vh;
	width: 1.32vw;
}

.query .approval {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 1.19vh;
	line-height: 1.63vh;
	color: rgba(255, 255, 255, 0.5);
	left: 45.83vw;
	position: fixed;
	top: 84.56vh;
}

.query .input2 {
	z-index: 99999;
	height: 1.88vh;
	left: 30.63vw;
	position: fixed;
	top: 42.33vh;
	width: 1.32vw;
}

.query .input3 {
	z-index: 99999;
	height: 1.88vh;
	left: 51.04vw;
	position: fixed;
	top: 42.46vh;
	width: 1.32vw;
}

.query .input4 {
	z-index: 99999;
	height: 1.88vh;
	left: 30.63vw;
	position: fixed;
	top: 46.84vh;
	width: 1.32vw;
}

.query .input5 {
	z-index: 99999;
	height: 1.88vh;
	left: 51.04vw;
	position: fixed;
	top: 46.84vh;
	width: 1.32vw;
}

.query .input6 {
	z-index: 99999;
	height: 1.88vh;
	left: 30.63vw;
	position: fixed;
	top: 51.23vh;
	width: 1.32vw;
}

.query .input7 {
	z-index: 99999;
	height: 1.88vh;
	left: 51.04vw;
	position: fixed;
	top: 51.23vh;
	width: 1.32vw;
}

.query .other {
	z-index: 99999;
	background: none;
	resize: none;
	height: 14.66vh;
	left: 28.54vw;
	position: fixed;
	top: 56.87vh;
	width: 42.92vw;
	padding-top: 1.5vh;
	padding-left: 1.04vw;
	color: white;
	font-family: Montserrat;
	font-size: 1.75vh;
	line-height: 2.13vh;
	color: rgba(255, 255, 255, 0.5);
}

.query .sell {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.01vh;
	line-height: 2.63vh;
	color: rgba(255, 255, 255, 0.9);
	left: 32.36vw;
	position: fixed;
	top: 42.08vh;
}

.query .legalization {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.01vh;
	line-height: 2.63vh;
	color: rgba(255, 255, 255, 0.9);
	left: 52.78vw;
	position: fixed;
	top: 42.08vh;
}

.query .buy {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.01vh;
	line-height: 2.63vh;
	color: rgba(255, 255, 255, 0.9);	
	left: 32.36vw;
	position: fixed;
	top: 46.47vh;
}

.query .cadastre {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.01vh;
	line-height: 2.63vh;	
	left: 52.78vw;
	position: fixed;
	top: 46.47vh;
}

.query .rent {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.01vh;
	line-height: 2.63vh;	
	left: 32.36vw;
	position: fixed;
	top: 50.85vh;
}

.query .juridical {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.01vh;
	line-height: 2.63vh;
	left: 52.78vw;
	position: fixed;
	top: 50.85vh;
}

.query .reason-text {
	z-index: 99999;
	font-family: Roboto Slab;
	font-size: 2.26vh;
	line-height: 3.01vh;
	color: rgba(255, 255, 255, 0.9);
	left: 27.15vw;
	position: fixed;
	top: 36.57vh;
}

.query .name {
	z-index: 99999;
	background: none;
	border: none;
	font-family: Montserrat;
	font-size: 1.75vh;
	line-height: 2.13vh;
	color: rgba(255, 255, 255, 0.5);
	left: 28.54vw;
	position: fixed;
	text-align: left;
	top: 30.05vh;
	width: 17.36vw;
}

.query .line1 {
	z-index: 99999;
	height: 0.13vh;
	left: 28.54vw;
	position: fixed;
	top: 33.56vh;
	width: 17.36vw;
}

.query .mobile {
	z-index: 99999;
	background: none;
	border: none;
	font-family: Montserrat;
	font-size: 1.75vh;
	line-height: 2.13vh;
	color: rgba(255, 255, 255, 0.5);
	left: 54.51vw;
	width: 17.36vw;
	position: fixed;
	top: 30.05vh;
}

.query .line2 {
	z-index: 99999;
	height: 0.13vh;
	left: 54.51vw;
	position: fixed;
	top: 33.56vh;
	width: 17.36vw;
}