/* импорт шрифтов */

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500";

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Roboto:400|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,500|Montserrat:400,500";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";

@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Montserrat:400";

/* базовые */

:root {
--eerie-black:#18191b80;
--white:#ffffffe6;
--white-2:#fff;
--font-size-l:18px;
--font-size-m:16px;
--font-size-s:14px;
--font-size-xl:40px;
--font-size-xs:10px;
--font-family-montserrat:Montserrat,Helvetica;
--font-family-roboto_slab:"Roboto Slab",Helvetica;
}

body {
	background: #18191b; 
	width: 100vw;
	height: 100vh;
	color: white;
}

#menu-bar {
	position:fixed;
	width: 100vw;
	height: 10vh;
	z-index:9999999;
}

a.small-logo {
	display: inline-block;
	height:100%;
	padding-top: 0vh;
	padding-left: 7vw;
}

a.menu-bar-first {
	display: inline-block;
	text-decoration:none;
	color: rgba(255, 255, 255, 1)!important;
	padding-left:38vw;
	text-align:center;
	font-family: Roboto Slab;
	font-size: 1.3vw;
	padding-bottom: 10vh;
	vertical-align: middle;
}

a.menu-bar-a:active,a.menu-bar-a:hover,a.menu-bar-a {
	display: inline-block;
	text-decoration:none;
	color: rgba(255, 255, 255, 1)!important;
	padding-left:2vw;
	text-align:center;
	font-family: Roboto Slab;
	font-size: 1.3vw;
	padding-bottom: 10vh;
	vertical-align: middle;
}

.footer {
	width:100vw;
}

.footer-text {
	font-family: Roboto Slab;
	font-size: 0.9vh;
	color: rgba(255, 255, 255, 0.5)!important;
	line-height: 3vh;
	letter-spacing: 0.05em;
	text-align:center;
}

.footer-logo {
	display:inline-block;
	height:auto;
	margin-bottom: 0.01%;
	margin-left:4.3vw;
	width:4vw;
}

.footer-icon-first {
	display:inline-block;
	padding-left: 31.3vw;
	margin-bottom: 0.01%;
	margin-top: -6.4vh;
	vertical-align: middle;
}

.footer-icon-first img{
	width: 2.55vw;
	height: 3.45vh;
}

.footer-icon {
	display:inline-block;
	margin-top: -6.4vh;
	margin-bottom: 0.01%;
	vertical-align: middle;
}

.footer-icon img{
	width: 2.55vw;
	height: 3.45vh;
}

/* стили главной страницы */

.index .dmitrov-background {
	height:90vh;
	width:100vw;
}

.index .big-logo {
	width: 73vw;
	height: 50vh;
	padding-left:25.6vw;
	padding-top:7.6vh;
}

.index .agency-label {
	height: 11vh;
	width: 67.43vw;
	padding-left:25.6vw;
}

.index .button-label {
	margin-left:38vw;
	height:8vh;
	width:22.22vw;
}

.index .button-label p, a{
	text-decoration:none;
	font-family: Roboto Slab;
	font-weight: 300;
	font-size: 2.2vh;
	line-height: 2.4vh;
	color: rgba(255, 255, 255, 0.7);
	padding-left: 6vw;
	padding-top: 2.4vh;
}

.index .houses-box {
	display: table;
	background-color:#18191b;
	height:27.5vh;
	overflow:hidden;
	margin-top:12.3vh;
	margin-right:0;
	width:133vw;
}

.index .houses {
	display: table-cell;
	vertical-align: middle;
	height:27.5vh;
	padding-left:0;
	width:33.3vw;
}

.index .houses a{
	color: #fff !important;
	text-decoration:none;
}

.index .houses-title {
	font-family: Montserrat;
	font-size: 1.3vw;
	line-height: 1.9vw;
	text-transform: uppercase;
	margin-top:3.8vh;
	margin-left:4vw;
}

.index .houses-text {
	font-family: Montserrat;
	font-size: 1.1vw;
	line-height: 1.9vw;
	margin-left:4vw;
	padding-top:1vh;
}

.index .houses-button {
	height:5.3vh;
	width:11.65vw;
	margin-left:4vw;
}

.index .houses-button p {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1vw;
	padding-left: 20%;
	padding-top: 7%;
}

.index .consult-background {
	height:31vh;
	margin-top:4vh;
	width:100vw;
}

.index .consult-title {
	height:2.7vh;
	margin-left:27.2vw;
	margin-top:4.2vh;
	width:45.4vw;
}


.index .consult-form {
	height:6.6vh;
	display: table;
}

.index .consult-input1 {
	margin-top: 7.4vh;
	margin-left: 21vw;
	padding-left: 1.3vw;
	color: white;
	width: 17.3vw;
	resize: none;
	outline: none;
	background-color: rgba(0, 125, 215, 0);
}

::-webkit-input-placeholder {
	font-size: 0.97vw;
}

.input .consult-cell {
	display: table-cell;
	vertical-align: middle;
}

.index .consult-input2 {
	margin-left: 2.7vw;
	padding-left: 0.69vw;
	color: white;
	width: 17.3vw;
	resize: none;
	outline: none;
	border: 0px solid;
	background-color: rgba(0, 125, 215, 0);
}

.index .consult-button {
	margin-left: 1.38vw;
	width: 17.3vw;
	outline: none;
	border: none;
}

.index .consult-text {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 0.659vw;
	line-height: 1.2vh;
}

.index .consult-button {
	height:7.8vh;
	width:14.3vw;
}

.index .consult-checkbox {
	height:1.3vh;
	width:1vw;
	margin-left: 2.77vw;
}

.index .example-title {
	font-family: Roboto Slab;
	font-size: 2.7vw;
	line-height: 4.9vh;
	color: rgba(255, 255, 255, 0.9);
	margin-left:39.3vw;
	margin-top:4vh;
}

.index .example-house1 {
	height:46vh;
	width:25.2vw;
	margin-top:5.83vh;
	margin-left:10.3vw;
}

.index .example-house2 {
	height:46vh;
	width:25.2vw;
	margin-top:5.88vh;
	padding-left:2vw;
}

.index .example-button {
	height:6vh;
	margin-top:4vh;
	margin-left:42.7vw;
	width:14.5vw;
}

.index .example-button p{
	padding-top:2.5vh;
	text-align: center;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 0.97vw;
	line-height: 1.66vh;
	color: rgba(255, 255, 255, 0.9);
}

.index .query-button {
	z-index: 999999;
	height:4vh;
	margin-left:4.16vw;
	margin-top: 30vh;
	width:14.5vw;
}

.index .query-background {
	margin-left:66.1vw;
	height: 43.93vh;
	width: 23vw;
}

.index .query-button p{
	font-family: Roboto Slab;
	font-size: 1.29vh;
	line-height: 1.66vh;
	text-align: center;
	padding-top: 1.01vh;
	color: rgba(255, 255, 255, 0.9);
}

.index .church {
	height:80vh;
	left:64.652vw;
	position:absolute;
	top:100vh;
	width:35.34vw;
}

.index .title-label {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 5vh;
	line-height: 4.9vh;
	margin-left:9.93vw;
	margin-top:19.16vh;
}

.index .text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 2.3vh;
	line-height: 2.31vh;
	padding-top:2.31vh;
	margin-left:10.27vw;
	text-align:left;
	width:45.13vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .cells {
	display: table;
}

.index .label-cell {
	display: table-cell;
	vertical-align: middle;
}

.index .label-10 {
	margin-left:9.72vw;
	margin-top:4.15vh;
	width: 8.61vw;
	height: 13.97vh;
}

.index .label-1000 {
	margin-left:3.47vw;
	margin-top:4.4vh;
	width: 16.25vw;
	height: 13.97vh;
}

.index .label-50 {
	margin-left:3.47vw;
	margin-top:4.4vh;
	width: 16.25vw;
	height: 13.97vh;
}

.index .text-10 {
	font-family: Montserrat;
	font-size: 1.79vh;
	line-height: 2.14vh;
	text-align: center;
	margin-left:7.29vw;
	width:13.54vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .text-1000 {
	font-family: Montserrat;
	font-size: 1.79vh;
	line-height: 2.14vh;
	text-align: center;
	margin-left:4.86vw;
	width:13.54vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .text-50 {
	font-family: Montserrat;
	font-size: 1.79vh;
	line-height: 2.14vh;
	text-align: center;
	margin-left:4.86vw;
	width:13.54vw;
	color: rgba(255, 255, 255, 0.9)!important;
}

.index .map {
	height: 60vh;
	width:100vw;
	margin-top: 1.85vh;
}

/* стили страницы "О нас" */

.about {
	
}

.about .component-1-C61RwL {
background-color:transparent;
height:45px;
left:607px;

position:absolute;
top:1020px;
width:226px;
}

.about .facebook-xZstl5 {
background-color:transparent;
height:28px;
left:96px;
position:absolute;
top:0;
width:28px;
}

.about .footer-C61RwL {
background-color:transparent;
height:105px;
left:0;
position:absolute;
top:2175px;
width:1440px;
}

.about .frame-39-5eV5YA {
background-color:transparent;
height:74px;
left:143px;

position:absolute;
top:-2px;
width:163px;
}

.about .group-26-C61RwL {
background-color:transparent;
height:1000px;
left:147px;
position:absolute;
top:1110px;
width:1150px;
}

.about .group-27-iPe1yZ {
background-color:transparent;
height:28px;
left:658px;
position:absolute;
top:24px;
width:124px;
}

.about .group-41-CMrZ9S {
background-color:transparent;
height:74px;
left:0;
position:relative;
top:0;
width:167px;
}

.about .group-6-5eV5YA {
background-color:transparent;
height:24px;
left:800px;
position:absolute;
top:30px;
width:500px;
}

.about .image-C61RwL {
background-color:transparent;
height:18px;
left:279px;

position:absolute;
top:1566px;
width:99px;
}

.about .image-VMr6Om {
background-color:transparent;
height:18px;
left:666px;

position:absolute;
top:1566px;
width:109px;
}

.about .image-aacgXn {
background-color:transparent;
height:37px;
left:76px;

position:absolute;
top:39px;
width:96px;
}

.about .image-mzXdH9 {
background-color:transparent;
height:16px;
left:1083px;

position:absolute;
top:1567px;
width:57px;
}

.about .image-nsa3YJ {
background-color:transparent;
height:31px;
left:75px;

position:absolute;
top:23px;
width:84px;
}

.about .instagram-xZstl5 {
background-color:transparent;
height:28px;
left:0;
position:absolute;
top:0;
width:28px;
}

.about .it-aRbOOb {
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-l);
font-style:normal;
font-weight:300;
height:auto;
left:139px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:477px;
width:auto;
}

.about .line-1-5eV5YA {
background-color:transparent;
height:1px;
left:719px;
position:absolute;
top:161px;
width:1px;
}

.about .line-4-iPe1yZ {
background-color:transparent;
height:2px;
left:0;
position:absolute;
top:66px;
width:1440px;
}

.about .menu-bar-C61RwL {
background-color:transparent;
height:85px;
left:0;
overflow:hidden;
position:absolute;
top:0;
width:1440px;
}

.about .rectangle-20-iPe1yZ {
background-color:#0f0f0f;
height:105px;
left:0;

position:absolute;
top:0;
width:1440px;
}

.about .rectangle-23-5eV5YA {
background-color:var(--eerie-black);
height:85px;
left:0;

position:absolute;
top:0;
width:1440px;
}

.about .query-button {
	margin-left: 607px;
	margin-top: -10px;
	height:59px;
	width:240px;
}

.about .query-button p{
	text-align: center;
	padding-top: 20px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.about #info-background {
	height:700px;
	width:607px;
}

.about .info-title {
	display: block;
	margin-left: 100px;
	padding-top: 60px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	color: #FFFFFF;
}

.about .info-text {
	width: 542px;
	margin-left: 100px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
}

.about .info-text-bold {
	width: 542px;
	margin-left: 100px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

.about .query-background {
	background-color:#fab702;
	box-shadow:0 4px 4px #10101242;
	height:78px;
	width:1440px;
}

.about .rectangle-52-aRbOOb {
	background-color:transparent;
	height:396px;
	left:0;

	position:absolute;
	top:118px;
	width:362px;
}

.about .rectangle-53-aRbOOb {
background-color:transparent;
height:396px;
left:392px;


position:absolute;
top:118px;
width:362px;
}

.about .rectangle-54-aRbOOb {
background-color:transparent;
height:396px;
left:784px;


position:absolute;
top:118px;
width:362px;
}

.about .rectangle-55-aRbOOb {
background-color:transparent;
height:396px;
left:0;
position:absolute;
top:604px;
width:362px;
}

.about .rectangle-56-aRbOOb {
background-color:transparent;
height:396px;
left:392px;
position:absolute;
top:604px;
width:362px;
}

.about .rectangle-57-aRbOOb {
background-color:transparent;
height:396px;
left:784px;
position:absolute;
top:604px;
width:362px;
}

.about .rectangle-58-aRbOOb {
background-color:var(--eerie-black);
height:75px;
left:0;

position:absolute;
top:439px;
width:362px;
}

.about .rectangle-59-aRbOOb {
background-color:var(--eerie-black);
height:75px;
left:392px;

position:absolute;
top:439px;
width:362px;
}

.about .rectangle-60-aRbOOb {
background-color:var(--eerie-black);
height:75px;
left:784px;

position:absolute;
top:439px;
width:362px;
}

.about .rectangle-61-aRbOOb {
background-color:var(--eerie-black);
height:75px;
left:784px;

position:absolute;
top:925px;
width:362px;
}

.about .rectangle-62-aRbOOb {
background-color:var(--eerie-black);
height:75px;
left:392px;

position:absolute;
top:925px;
width:362px;
}

.about .rectangle-63-aRbOOb {
background-color:var(--eerie-black);
height:75px;
left:0;

position:absolute;
top:925px;
width:362px;
}

.about .rectangle-64-C61RwL {
background-color:transparent;
height:227px;
left:242px;
position:absolute;
top:1563px;
width:957px;
}

.about .rectangle-64-VMr6Om {
background-color:transparent;
height:660px;
left:1268px;
position:absolute;
top:1291px;
width:428px;
}

.about .rectangle-64-mzXdH9 {
background-color:transparent;
height:660px;
left:-256px;
position:absolute;
top:1291px;
width:428px;
}

.about .rectangle-65-C61RwL {
background-color:transparent;
height:217px;
left:661px;
position:absolute;
top:1549px;
width:118px;
}

.about .title-background {
	height:218px;
	width:100%;
}

.about .span0-HqkTot {
font-style:normal;
}

.about .span1-HqkTot {
color:var(--white-2);
font-style:normal;
font-weight:400;
}

.about .span2-HqkTot {
color:var(--white);
font-style:normal;
font-weight:400;
}

.about .span3-HqkTot {
font-style:normal;
}

.about .span4-HqkTot {
color:var(--white);
font-style:normal;
font-weight:400;
}

.about .textlabel-9p2GBv {
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-s);
font-style:normal;
font-weight:400;
height:auto;
left:48px;
letter-spacing:.7px;
line-height:normal;

position:absolute;
text-align:left;
top:13px;
width:auto;
}

.about .title-text {
	padding-top: 92px;
	padding-left: 147px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	color: rgba(255, 255, 255, 0.9);
}

.about .textlabel-FtquBM {
background-color:transparent;
height:auto;
left:398px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.about .workers-title {
	margin-left: 555px;
	margin-top: 29px;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	color: rgba(255, 255, 255, 0.9);
}

.about .textlabel-cPzzMH {
background-color:transparent;
height:auto;
left:174px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.about .textlabel-gpwKP7 {
background-color:transparent;
height:auto;
left:0;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.about .textlabel-iXTgFq {
background-color:transparent;
height:auto;
left:278px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.about .textlabel-wEdWNf {
background-color:transparent;
height:auto;
left:79px;
letter-spacing:0;
line-height:normal;

position:absolute;
text-align:left;
top:0;
width:auto;
}

.about .vector-1-5eV5YA {
background-color:transparent;
height:1px;
left:0;
position:absolute;
top:84px;
width:1440px;
}

.about .vector-3y9sZQ {
background-color:transparent;
height:26px;
left:1px;

position:absolute;
top:1px;
width:26px;
}

.about .vector-C9oVer {
background-color:transparent;
height:24px;
left:2px;

position:absolute;
top:2px;
width:24px;
}

.about .vector-al5l8B {
background-color:transparent;
height:24px;
left:2px;

position:absolute;
top:2px;
width:24px;
}

.about .whats-app-xZstl5 {
background-color:transparent;
height:28px;
left:48px;
position:absolute;
top:0;
width:28px;
}

.about .x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ {
background-color:transparent;
height:58px;
left:112px;

position:absolute;
top:8px;
width:128px;
}

.about .x1m-gh-bb-vn-m0-ovebg-preview-2-nsa3YJ {
background-color:transparent;
height:80px;
left:-4px;

position:absolute;
top:1px;
width:91px;
}

.about .x2016-2020-iPe1yZ {
background-color:transparent;
color:var(--white-2);
font-family:var(--font-family-roboto_slab);
font-size:var(--font-size-xs);
font-style:normal;
font-weight:300;
height:auto;
left:561px;
letter-spacing:.5px;
line-height:normal;

position:absolute;
text-align:left;
top:80px;
width:auto;
}

/* стили страницы "Каталог"*/

.katalog .dachi-image {
	height:232px;
	left:240px;
	position:absolute;
	top:193px;
	width:480px;
}

.katalog .arenda-image {
	height:232px;
	left:720px;
	position:absolute;
	top:193px;
	width:480px;
}

.katalog .kvartiri-image {
	height:232px;
	left:720px;
	position:absolute;
	top:425px;
	width:480px;
}

.katalog .land-image {
	height:232px;
	left:240px;
	position:absolute;
	top:425px;
	width:480px;
}

.katalog .dachi-button {
	border-radius:10px;
	height:42px;
	left:300px;
	position:absolute;
	top:340px;
	width:166px;
}

.katalog .dachi-button p{
	padding-top: 10px;
	text-align: center;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .land-button {
	border-radius:10px;
	height:42px;
	left:300px;
	position:absolute;
	top:561px;
	width:166px;
}

.katalog .land-button p{
	padding-top: 10px;
	text-align: center;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .kvartiri-button {
	background-color:transparent;
	border-radius:10px;
	height:42px;
	left:779px;
	position:absolute;
	top:561px;
	width:166px;
}

.katalog .kvartiri-button p{
	padding-top: 10px;
	text-align: center;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .arenda-button {
	background-color:transparent;
	border-radius:10px;
	height:42px;
	left:779px;
	position:absolute;
	top:340px;
	width:166px;
}

.katalog .arenda-button p{
	padding-top: 10px;
	text-align: center;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.9);
}

.katalog .dachi-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	left:294px;
	position:absolute;
	top:230px;
}

.katalog .index-text {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.6);
	left:147px;
	letter-spacing:0;
	line-height:normal;
	position:absolute;
	text-align:left;
	top:110px;
}

.katalog .land-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	left:294px;
	line-height:normal;
	position:absolute;
	top:462px;
}

.katalog .kvartiri-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	left:779px;
	position:absolute;
	top:462px;
}

.katalog .kvartiri-label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	left:779px;
	position:absolute;
	top:496px;
}

.katalog .arenda-label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	left:779px;
	position:absolute;
	top:269px;
}

.katalog .dachi-label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	left:294px;
	position:absolute;
	top:265px;
}

.katalog .arenda-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	left:779px;
	position:absolute;
	top:230px;
}

.katalog .land-label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	left:294px;
	position:absolute;
	text-align:left;
	top:496px;
}

/* стили страницы услуг */

.services .info-button {
	height:80px;
	margin-left:607px;
	margin-top:48px;
	width:226px;
}

.services .info-button p{
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
}

.services .info-photo1 {
	display: inline;
	height:460px;
	width:635px;
}

.services .rectangle-72-C61RwL {
	background-color:#1a1b1d;
	height:400px;
	left:637px;
	position:absolute;
	top:763px;
	width:803px;
}

.services .background {
	height:218px;
	width:1436px;
}

.services .title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 47px;
	color: #FFFFFF;
	padding-left:147px;
	padding-top:85px;
}

.services .info-text2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	margin-top: 131px;
	margin-left: 98px;
}

.services .info-text3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	margin-top: 152px;
	margin-left: 147px;
}

.services .info-text-first {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-top: 26px;
	margin-left: 147px;
}

.services .info-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	margin-top: 25px;
	margin-left: 147px;
}

.services .info-text-label {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 53px;
	color: #FFFFFF;
	margin-top: 60px;
	margin-left: 147px;
}

/* страница "Вакансии" */

.jobopenings .button {
	height:80px;
	margin-left:595px;
	margin-top:75px;
	width:250px;
}

.jobopenings .button p{
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
}

.jobopenings .background {
	height:218px;
	width:1436px;
}

.jobopenings .title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 47px;
	color: #FFFFFF;
	padding-top: 85px;
	margin-left: 145px;
}

.jobopenings .text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	margin-left: 148px;
	padding-top: 65px;
	width: 1143px;
	line-height: 21.94px;
}

/* страница "Контакты" */
.contacts {
	
}

.contacts .button {
	height:80px;
	left:607px;
	position:absolute;
	top:1164px;
	width:226px;
}

.contacts .button {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	padding-top: 30px;
	padding-left: 48px;
}

.contacts .background {
	height:218px;
	width:1436px;
}

.contacts .title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 47px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 85px;
	padding-left: 145px;
}

.contacts .address-title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	left:147px;
	position:absolute;
	text-align:left;
	top:403px;
}

.contacts .mobile-title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	left:147px;
	position:absolute;
	top:482px;
}

.contacts .time-title {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #FFFFFF;
	left:147px;
	position:absolute;
	top:567px;
}

.contacts .map {
	height:478px;
	left:4px;
	position:absolute;
	top:658px;
	width:1440px;
}

.contacts .address {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: rgba(255, 255, 255, 0.9);
	height:auto;
	left:313px;
	position:absolute;
	text-align:left;
	top:403px;
}

.contacts .mobile-num2 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: rgba(255, 255, 255, 0.9);
	left:313px;
	position:absolute;
	top:522px;
}

.contacts .mobile-num1 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: rgba(255, 255, 255, 0.9);
	left:313px;
	position:absolute;
	top:482px;
}

.contacts .time {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: rgba(255, 255, 255, 0.9);
	left:313px;
	position:absolute;
	top:567px;
}
