{% extends 'base.html' %}
{% load static %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="about" >
   <div style="height: 13.85vh; background: #18191B;"><p></p></div>
   <div class="title-background" style="background-image: url({% static 'png/shutterstock-131654735-1@1x.png' %}); no-repeat; background-size:cover;">
      <h1 class="title-text" >О НАС</h1>
   </div>
   <div class="row">
      <div id="info-background" class="col" style="background-image: url({% static 'png/rectangle-30@1x.png' %}); background-size:cover; display: block;"></div>
      <div class="col">
         <h1 class="info-title" >Агентство недвижимости №1</h1>
         <p class="info-text-bold" style="margin-top: 23px;">Мы являемся профессионалами по рынку недвижимости №1.</p>
         <p class="info-text" >
            Агентство специализируется на продаже, покупке на
               <br>первичном и вторичном рынках жилья, аренде, а также <br>предоставляет услуги в сфере консалтинга и аналитики.
               <br>Высококвалифицированные специалисты агентства<br>осуществляют помощь в получении ипотеки,
               <br>юридическое<br>сопровождение сделок, покупку жилья <br>при помощи субсидий.
         </p>
         <p class="info-text-bold">
               Наши специалисты занимаются постоянным изучением рынка<br>недвижимости, составляют собственную аналитику
               <br>по ценообразованию квартир.
         </p>
         <p class="info-text" >
            Срочная продажа квартир проводится по выгодным условиям
               <br>для наших клиентов в максимально короткие сроки. Мы полностью возьмём на себя подготовку и сопровождение
               <br>сделки. Круглосуточная поддержка-риэлтор всегда с Вами на связи. У нас собственная база клиентов куда<br>постоянно
               <br>поступают новые объекты. Вы будете в курсе самых лучших новинок. Широкая география. Размещение более чем на 30 <br>интернет – сайтах.
         </p>
            <p class="info-text-bold" style="width: 683px;">
               Мы ценим каждого нашего клиента, поэтому специалисты <br>нашего агентства отдают приоритет надежности и профессионализму
               <br>в проведении сделок.
            </p>
      </div>
   </div>

   <div class="about-query-background" >
      <a onclick="showQuery();">
         <div class="about-query-button" style="background-image: url({% static 'svg/rectangle-26@2x.svg' %}); background-size:100% 100%;">
            <p>Оставить заявку</p>
         </div>
      </a>
   </div>

   <div class="workers-title" >Наши сотрудники</div>
   <div class="workers-box" >
      <div>
         <div class="worker1" style="background: url({% static 'png/rectangle-52@2x.png' %}) no-repeat; background-size: auto 100%;">
            <div class="worker-name-background" >
               <img class="worker-name"  src="{% static 'svg/--------@2x.svg' %}" >
               <div class="worker-type" >IT - отдел</div>
            </div>
         </div>
         <div class="worker3" style="background: url({% static 'png/rectangle-55@2x.png' %}) no-repeat; background-size: auto 100%;">
            <div class="worker-name-background" >
               <img class="worker-name"  src="{% static 'svg/---------@2x.svg' %}" >
               <div class="worker-type" ></div>
            </div>
         </div>
         <div class="worker5" style="background: url({% static 'png/rectangle-55@2x.png' %}) no-repeat; background-size: auto 100%;>">
            <div class="worker-name-background" >
               <img class="worker-name"  src="{% static 'svg/----@2x.svg' %}" >
               <div class="worker-type" ></div>
            </div>
         </div>
      </div>
      <div>
         <div class="worker2" style="background: url({% static 'png/rectangle-55@2x.png' %}) no-repeat; background-size: auto 100%;">
            <div class="worker-name-background" ></div>
         </div>
         <div class="worker4" style="background: url({% static 'png/rectangle-55@2x.png' %}) no-repeat; background-size: auto 100%;>">
            <div class="worker-name-background" ></div>
         </div>
         <div class="worker6" style="background: url({% static 'png/rectangle-55@2x.png' %}) no-repeat; background-size: auto 100%;>">
            <div class="worker-name-background" ></div>
         </div>
      </div>
   </div>
</div>
{% endblock %}