{% load static %}
<!DOCTYPE html>
<html>
   	<head>
      	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      	<meta name="viewport" content="width=1440, maximum-scale=1.0">
      	<link rel="shortcut icon" type="image/png" href="">
      	<meta name="og:type" content="website">
		<meta name="twitter:card" content="photo">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<div id="menu-bar" style="background-image: url({% static 'png/Rectangle 23.png' %});">
			<a class="small-logo" href="{% url 'index'%}">
				<img style="height: 100%;" src="{% static 'svg/menu-logo.svg' %}">
			</a>
			<a href="{% url 'about'%}" class="menu-bar-first">О нас</a>
			<a href="{% url 'services'%}" class="menu-bar-a">Услуги</a>
			<a href="{% url 'catalog'%}" class="menu-bar-a">Каталог</a>
			<a href="{% url 'jobopenings'%}" class="menu-bar-a">Вакансии</a>
			<a href="{% url 'contacts'%}" class="menu-bar-a">Контакты</a>
		</div>
		{% block content %}{% endblock %}
		<div class="footer" style="background-color:#0f0f0f;">
			<img class="footer-logo" src="{% static 'png/1m-ghbbvnm0-removebg-preview-2@2x.png' %}">
			<div class="footer-icon-first">
				<a href="#">
				   <img src="{% static 'svg/vector@2x.svg' %}" >
				</a>
			</div>
			<div class="footer-icon">
				<a href="#">
				   <img src="{% static 'svg/vector-1@2x.svg' %}" >
				</a>
			</div>
			<div class="footer-icon">
				<a href="#">
				   <img src="{% static 'svg/vector-3@2x.svg' %}" >
				</a>
			</div>
			<hr style="margin-top: 0.1%; margin-bottom: 0.1%;">
			<p class="footer-text">© 2016 - 2020 ООО "Агентство Недвижимости Номер Один"</p>
		</div>
	</body>
</html>