{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}
<div class="katalog" style="height: 94.46vh;">
   <!--<a href="{% url 'index'%}">
      <div class="index-text" >Главная</div>
   </a>
   <div class="x-C61RwL" >/ Каталог</div>-->
   <img class="dachi-image"  src="{% static 'png/rectangle-11@2x.png' %}" >
   <img class="arenda-image"  src="{% static 'png/rectangle-12@2x.png' %}" >
   <img class="kvartiri-image"  src="{% static 'png/rectangle-13@2x.png' %}" >
   <img class="land-image"  src="{% static 'png/rectangle-14@2x.png' %}" >

   <div class="dachi-title" >ДОМА И ДАЧИ</div>
   <p class="dachi-label" >Покупка домов от собственников <br>и продажа</p>
   <a href="{% url 'houses'%}">
      <div class="dachi-button" style="background-image: url({% static 'png/Rectangle 24.png' %}); background-size:100% 100%;">
         <p>Перейти</p>
      </div>
   </a>

   <div class="arenda-title" >АРЕНДА</div>
   <p class="arenda-label" >Поиск арендаторов для любых Ваших <br>объектов недвижимости</p>
   <a href="{% url 'rent'%}">
      <div class="arenda-button" style="background-image: url({% static 'png/Rectangle 24.png' %}); background-size:100% 100%;">
         <p>Перейти</p>
      </div>
   </a>

   <div class="land-title" >УЧАСТКИ</div>
   <p class="land-label" >Покупка и продажа загородных объектов: <br>участков, таунхаусов, домов и усадеб</p>
   <a href="{% url 'land'%}">
      <div class="land-button" style="background-image: url({% static 'png/Rectangle 24.png' %}); background-size:100% 100%;">
         <p>Перейти</p>
      </div>
   </a>

   <div class="kvartiri-title" >ПОКУПКА КВАРТИР</div>
   <p class="kvartiri-label" >Покупка квартир от собственников <br>и продажа</p>
   <a href="{% url 'apartments'%}">
      <div class="kvartiri-button" style="background-image: url({% static 'png/Rectangle 24.png' %}); background-size:100% 100%;">
         <p>Перейти</p>
      </div>
   </a>
</div>
{% endblock %}