{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=1440, maximum-scale=1.0">
      <link rel="shortcut icon" type="image/png" href="">
      <meta name="og:type" content="website">
      <meta name="twitter:card" content="photo">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body style="margin: 0;background: #18191b;">
      <input type="hidden" id="anPageName" name="page" value="kontakty">
      <div class="container-center-horizontal">
         <div class="kontakty screen " >
            <img class="shutterstock131654735-1-C61RwL"  src="{% static 'png/shutterstock-131654735-1@1x.png' %}" >
            <h1 class="textlabel-C61RwL" >КОНТАКТЫ</h1>
            <div class="component-1-C61RwL" >
               <img class="rectangle-26-9p2GBv"  src="{% static 'svg/rectangle-26@2x.svg' %}" >
               <div class="textlabel-9p2GBv" >Оставить заявку</div>
            </div>
            <!-- <div class="x-C61RwL" >Главная /</div>
            <div class="textlabel-VMr6Om" >Квартиры</div> -->
            <img class="x1-C61RwL"  src="{% static 'png/-------1-1@1x.png' %}" >
            <div class="x3-C61RwL robotoslab-normal-white-24px" >Профессиональная улица, 3<br>Дмитров, Московская область</div>
            <div class="x900-2000-C61RwL robotoslab-normal-white-24px" > Пн - Пт 9:00 - 20:00</div>
            <div class="x-VMr6Om robotoslab-medium-white-24px" >Телефон:</div>
            <div class="x-mzXdH9 robotoslab-medium-white-24px" >Работаем:</div>
            <div class="x7-925-725-71-25-C61RwL robotoslab-normal-white-24px" >+7 925 725-71-25</div>
            <div class="x7-925-078-87-04-C61RwL robotoslab-normal-white-24px" >+7 925 078-87-04</div>
            <div class="x-QxM5SU robotoslab-medium-white-24px" >Адрес:</div>
            <div class="footer-C61RwL" >
               <div class="rectangle-20-iPe1yZ" ></div>
               <p class="x2016-2020-iPe1yZ" >© 2016 - 2020 ООО "Агентство Недвижимости Номер Один"</p>
               <img class="x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ"  src="{% static 'png/1m-ghbbvnm0-removebg-preview-2-1@2x.png' %}" >
               <img class="line-4-iPe1yZ"  src="{% static 'svg/line-4@1x.svg' %}" >
               <div class="group-27-iPe1yZ" >
                  <div class="instagram-xZstl5" >
                     <img class="vector-al5l8B"  src="{% static 'svg/vector@2x.svg' %}" >
                  </div>
                  <div class="whats-app-xZstl5" >
                     <img class="vector-3y9sZQ"  src="{% static 'svg/vector-2@2x.svg' %}" >
                  </div>
                  <div class="facebook-xZstl5" >
                     <img class="vector-C9oVer"  src="{% static 'svg/vector-3@2x.svg' %}" >
                  </div>
               </div>
            </div>
            <div class="menu-bar-C61RwL" >
               <div class="rectangle-23-5eV5YA" ></div>
               <!--<img class="line-1-5eV5YA"  src="{% static 'png/line-@1x.png' %}" >-->
               <div class="group-6-5eV5YA" >
                  <div class="textlabel-gpwKP7 robotoslab-normal-white-18px" >О нас</div>
                  <div class="textlabel-wEdWNf robotoslab-normal-white-18px" >Услуги</div>
                  <div class="textlabel-cPzzMH robotoslab-normal-white-18px" >Каталог</div>
                  <div class="textlabel-iXTgFq robotoslab-normal-white-18px" >Вакансии</div>
                  <div class="textlabel-FtquBM robotoslab-normal-white-18px" >Контакты</div>
               </div>
               <div class="frame-39-5eV5YA" >
                  <a href="{% url 'index'%}">
                  <div class="group-41-CMrZ9S" >
                     <img class="image-nsa3YJ"  src="{% static 'svg/----------1@2x.svg' %}" >
                     <img class="image-aacgXn"  src="{% static 'svg/------------@2x.svg' %}" >
                     <img class="x1m-gh-bb-vn-m0-ovebg-preview-2-nsa3YJ"  src="{% static 'png/1m-ghbbvnm0-removebg-preview-2-2@2x.png' %}" >
                  </div>
                  </a>
               </div>
               <img class="vector-1-5eV5YA"  src="{% static 'svg/vector-1-1@1x.svg' %}" >
            </div>
         </div>
      </div>
   </body>
</html>