{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="contacts" style="padding-top: 110px; height: 1250px;">
   <div class="background"  style="background: url({% static 'png/shutterstock-131654735-1@1x.png' %});">
      <h1 class="title" >КОНТАКТЫ</h1>
   </div>

   <!-- <div class="x-C61RwL" >Главная /</div>
   <div class="textlabel-VMr6Om" >Квартиры</div> -->
   <img class="map"  src="{% static 'png/map.png' %}" >

   <div class="address-title" >Адрес:</div>
   <div class="address" >Профессиональная улица, 3<br>Дмитров, Московская область</div>

   <div class="mobile-title" >Телефон:</div>
   <div class="mobile-num1" >+7 925 725-71-25</div>
   <div class="mobile-num2" >+7 925 078-87-04</div>

   <div class="time-title" >Работаем:</div>
   <div class="time" > Пн - Пт 9:00 - 20:00</div>

   <a href="#">
      <div class="button" style="background: url({% static 'svg/rectangle-26@2x.svg' %}); background-size:100% 100%;">
         <p>Оставить заявку</p>
      </div>
   </a>
</div>
{% endblock %}