{% extends 'base.html' %}
{% load static %}
{% block title %}Недвижимость{% endblock %}
{% block content %}
<div class="estate">
    <a href="{% url 'catalog'%}" class="back-text-arrow" style="background-image: url({% static 'svg/back-arrow.svg' %}); background-size: 100% 100%;"></a>
    <div class="row">
        <div class="col">
            <div class="main-photo" style="background-image: url({{gallery.0.image.url}}); background-size: 100% 100%;"></div>
            <div class="gallery-first" style="background-image: url({{gallery.1.image.url}});background-size: 100% 100%;"></div>
            <div class="gallery" style="background-image: url({{gallery.2.image.url}});background-size: 100% 100%;"></div>
            <div class="gallery" style="background-image: url({{gallery.3.image.url}});background-size: 100% 100%;"></div>
            <div class="gallery" style="background-image: url({{gallery.4.image.url}});background-size: 100% 100%;"></div>
            <div class="gallery" style="background-image: url({{gallery.5.image.url}});background-size: 100% 100%;"></div>
            <div class="arrow">
                <div class="arrow-element" style="background-image: url({% static 'svg/arrow.svg' %});background-size: 100% 100%;"></div>
            </div>
        </div>
        <div class="col" style="width: 80%!important;">
            <div class="title">{{gallery.0.estate.address}}</div>
            <div>
                <div class="area">Площадь:</div>
                <div class="area-value">{{gallery.0.estate.surface_area}}</div>
            </div>
            <div>
                <div class="price">Цена:</div>
                <div class="price-value">{{gallery.0.estate.price}} ₽</div>
            </div>

            <div class="text">
                <p>{{gallery.0.estate.text}}</p>
            </div>
            <a href="#">
                <div class="button" style="background: url({% static 'svg/rectangle-26@2x.svg' %}); background-size:100% 100%;">
                    <p>Оставить заявку</p>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}