{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="index">
   <div class="dmitrov-background" style="background: url({% static 'png/dmitrov-background.png' %}); background-size: cover;">
      <img class="big-logo"  src="{% static 'png/logo-wt-1@1x.png' %}" >
      <img class="agency-label" src="{% static 'svg/title.svg' %}" >
      <a href="#">
         <div class="button-label" style="background: url({% static 'svg/rectangle-2@2x.svg' %}); background-size: 100% 100%;">
            <p>Оставить заявку</p>
         </div>
      </a>
   </div>

   <div style="padding-top: 20px;">
      <h1 class="title-label" >Агентство недвижимости №1</h1>
      <p class="text">
         Помогаем найти, купить или продать недвижимость. Без рисков, стрессов<br> и переплат.
      </p>
      <p class="text">
         Мы знаем, где лучше покупать квартиру для семьи с детьми,<br> какие новостройки перспективны для инвестиций, в каком районе лучшая<br>
         экологическая обстановка и откуда Вам будет удобнее добираться <br>на работу!
      </p>
      <p class="text">
         Агентство Недвижимости Номер Один обеспечит полное юридическое<br>
         сопровождение, помощь в получении ипотеки, регистрацию в<br>государственных инстанциях и постпродажное обслуживание. А еще –<br>сэкономим Вам время и деньги!
      </p>
      <div class="cells">
         <div class="label-cell">
            <img class="label-10"  src="{% static 'svg/10@2x.svg' %}" >
            <p class="text-10" >Более 10 лет <br>помогаем людям</p>
         </div>
         <div class="label-cell">
            <img class="label-1000"  src="{% static 'svg/1000@2x.svg' %}" >
            <div class="text-1000" >Более 1000 довольных клиентов</div>
         </div>
         <div class="label-cell">
            <img class="label-50"  src="{% static 'svg/50@2x.svg' %}" >
            <div class="text-50" >Более 50 объектов недвижимости</div>
         </div>
      </div>
   </div>

   <img class="church" src="{% static 'png/church.png' %}" >

   <div class="houses-box" >
      <div class="houses" style="background: url({% static 'png/rectangle-11@2x.png' %}) no-repeat; background-size:cover;">
         <h1 class="houses-title" >ДОМА И ДАЧИ</h1>
         <p class="houses-text" >Покупка квартир от собственников <br>и продажа</p>
         <a href="{% url 'houses'%}">
            <div class="houses-button" style="background: url({% static 'png/Rectangle 24.png' %}); background-size: cover;">
               <p>Подробнее</p>
            </div>
            <div class="textlabel-AU0wTJ" ></div>
         </a>
      </div>
      <div class="houses" style="background: url({% static 'png/rectangle-12@2x.png' %}) no-repeat; background-size:cover;">
         <h1 class="houses-title" >АРЕНДА</h1>
         <p class="houses-text" >Поиск арендодателей и арендаторов <br>для любых Ваших объектов недвижимости</p>
         <a href="{% url 'rent'%}">
            <div class="houses-button">
               <p>Подробнее</p>
            </div>
            <div class="textlabel-V6oc7X robotoslab-normal-white-14px" ></div>
         </a>
      </div>
      <div class="houses" style="background: url({% static 'png/rectangle-13@2x.png' %}) no-repeat; background-size:cover;">
         <h1 class="houses-title" >КВАРТИР</h1>
         <p class="houses-text" >Покупка квартир от собственников<br><br></p>
         <a href="{% url 'apartments'%}">
            <div class="houses-button">
               <p>Подробнее</p>
            </div>
         </a>
      </div>
      <div class="houses" style="background: url({% static 'png/rectangle-14@2x.png' %}) no-repeat; background-size:cover;">
         <h1 class="houses-title" >УЧАСТКИ</h1>
         <p class="houses-text" >Покупка и продажа загородных объектов: <br>участков, таунхаусов, домов</p>
         <a href="{% url 'land'%}">
            <div class="houses-button">
               <p>Подробнее</p>
            </div>
         </a>
      </div>
   </div>

   <div>
      <h1 class="example-title" >Наши объекты</h1>
      <img class="example-house1"  src="{% static 'png/rectangle-43@2x.png' %}" >
      <img class="example-house2"  src="{% static 'png/rectangle-44@2x.png' %}" >
      <img class="example-house2"  src="{% static 'png/rectangle-45@1x.png' %}" >
      <a href="#">
         <div class="example-button">
            <p>Перейти в каталог</p>
         </div>
      </a>
   </div>

   <div class="consult-background" style="background: url({% static 'png/rectangle-26@1x.png' %}) no-repeat; background-size:cover;">
      <img class="consult-title"  src="{% static 'svg/-------------------------------------@2x.svg' %}" >
      <form class="consult-form" >
         <textarea id="name" class="consult-input1" placeholder="Имя" style="border: 1px solid transparent; border-image: url({% static 'svg/line-3@2x.svg' %}) 2; border-top-style: none; border-left-style: none; border-right-style: none;"></textarea>
         <textarea id="mobile" class="consult-input2" placeholder="+7 (999) 999 99 99" style="border: 1px solid transparent; border-image: url({% static 'svg/line-3@2x.svg' %}) 2; border-top-style: none; border-left-style: none; border-right-style: none;"></textarea>
         <div style="display: table-cell;">
            <input id="submit" class="consult-button" type="button" style="background: url({% static 'svg/group-11@2x.svg' %}) no-repeat; background-size:cover;"> <br>
            <input type="checkbox" class="consult-checkbox"  src="{% static 'svg/rectangle-27@2x.svg' %}">
            <span class="consult-text">Согласие на обработку данных</span>
         </div>
      </form>
   </div>

   <iframe style="width: 100vw; height: 60vh;" src="https://yandex.ru/map-widget/v1/?um=constructor%3A507cdea4cd253a8af22dfa6b177c697f37260c7ae4171355745b97ced8a4cbb8&amp;source=constructor" width="100%" height="478" frameborder="0"></iframe>

   <div class="query-background" style="background: url({% static 'svg/query.svg' %}); background-size:100% 100%;">
      <a href="#">
         <div class="query-button" style="background: url({% static 'png/Rectangle 24.png' %}); background-size:100% 100%;">
            <p>Оставить заявку </p>
         </div>
      </a>
   </div>
</div>
{% endblock %}