{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
	<p class="x2016-2020-i1121222-iPe1yZ">© 2016 - 2020 ООО "Агентство Недвижимости Номер Один"</p>
	<img class="x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ" src="{% static 'png/logo.png' %}">
	<img class="line-4-iPe1yZ" src="{% static 'svg/line-4_1x.svg' %}">
	<div class="group-27-iPe1yZ">
		<div class="instagram-xZstl5">
			<img class="vector-al5l8B" src="{% static 'svg/vector_2x.svg' %}">
		</div>
		<div class="whats-app-xZstl5">
			<img class="vector-3y9sZQ" src="{% static 'svg/vector-1_2x.svg' %}">
		</div>
		<div class="facebook-xZstl5">
			<img class="vector-C9oVer" src="{% static 'svg/vector-2_2x.svg' %}">
		</div>
	</div>
</div>
<img class="rectangle-3-C61RwL" src="{% static 'png/city_photo1.png' %}">
<img class="rectangle-21-C61RwL" src="{% static 'svg/rectangle-21_1x.svg' %}">
<img class="rectangle-5-C61RwL" src="{% static 'png/city_photo3.png' %}">
<img class="rectangle-6-C61RwL" src="{% static 'png/city_photo3.png' %}">
<img class="rectangle-2-C61RwL" src="{% static 'svg/button_frame.svg' %}">
<img class="image-C61RwL" src="{% static 'svg/title_text.svg' %}">
<img class="x1-C61RwL" src="{% static 'svg/number_one.svg' %}">
<div class="textlabel-C61RwL">Оставить заявку</div>
<div class="group-2-C61RwL">
	<img class="rectangle-4-zUixHA" src="{% static 'png/city_photo2.png' %}">
	<img class="rectangle-22-zUixHA" src="{% static 'svg/button_frame.svg' %}">
</div>
<h1 class="x1-VMr6Om">
	Агентство недвижимости №1
</h1>
<div class="x-C61RwL">
	Помогаем найти, купить или продать недвижимость. Без рисков, стрессов и переплат.
</div>
<div class="x-VMr6Om">
	Мы знаем, где лучше покупать квартиру для семьи с детьми, 
	<br>какие новостройки перспективны для инвестиций, в каком районе лучшая
	<br>экологическая обстановка и откуда Вам будет удобнее добираться 
	<br>на работу!<br><br>Агентство Недвижимости Номер Один обеспечит полное юридическое
	<br>сопровождение, помощь в получении ипотеки, регистрацию в
	<br>государственных инстанциях и постпродажное обслуживание. А еще –<br>сэкономим Вам время и деньги!
</div>
<img class="x10-C61RwL" src="{% static 'svg/10_2x.svg' %}">
<img class="x1000-C61RwL" src="{% static 'svg/1000_2x.svg' %}">
<img class="x50-C61RwL" src="{% static 'svg/50_2x.svg' %}">
<p class="x10-VMr6Om montserrat-normal-white-14px-2">
	Более 10 лет <br>помогаем людям
</p>
<div class="x1000-VMr6Om montserrat-normal-white-14px-2">
	Более 1000 довольных клиентов
</div>
<div class="x50-VMr6Om montserrat-normal-white-14px-2">
	Более 50 объектов недвижимости
</div>
<div class="group-30-C61RwL">
	<img class="rectangle-11-xxkKyh" src="{% static 'png/city_photo4.png' %}">
	<img class="rectangle-12-xxkKyh" src="{% static 'png/house_photo1.png' %}">
	<img class="rectangle-13-xxkKyh" src="{% static 'png/house_photo2.png' %}">
	<p class="textlabel-xxkKyh montserrat-normal-white-16px">Покупка квартир от собственников <br>и продажа</p>
	<div class="textlabel-E91r1M montserrat-normal-white-20px">ПОКУПКА КВАРТИР</div>
	<div class="textlabel-5mMeXy montserrat-normal-white-20px">АРЕНДА</div>
	<div class="textlabel-Ukt7LK montserrat-normal-white-20px">ЗАГОРОДНАЯ</div>
	<p class="textlabel-tzumxU montserrat-normal-white-16px">
	Поиск арендодателей и арендаторов <br>для любых Ваших объектов недвижимости</p>
	<p class="x-xxkKyh montserrat-normal-white-16px">
	Покупка и продажа загородных объектов: <br>участков, таунхаусов, домов и усадеб</p>
	<div class="group-3-xxkKyh">
		<div class="rectangle-24-oHxhwC border-1px-white-2"></div>
		<div class="textlabel-oHxhwC robotoslab-normal-white-16px">Подробнее</div>
	</div>
	<div class="group-4-xxkKyh">
		<div class="rectangle-24-PpbxxV border-1px-white-2"></div>
		<div class="textlabel-PpbxxV robotoslab-normal-white-16px">Подробнее</div>
	</div>
	<div class="group-5-xxkKyh">
		<div class="rectangle-24-UccCxX border-1px-white-2"></div>
		<div class="textlabel-UccCxX robotoslab-normal-white-16px">Подробнее</div>
	</div>
</div>
<img class="x1-mzXdH9" src="{% static 'png/map.png' %}">
<img class="rectangle-26-C61RwL" src="{% static 'png/city_photo5.png' %}">
<div class="group-12-C61RwL">
	<img class="group-11-xFApRQ" src="{% static 'svg/send_button.svg' %}">
	<div class="textlabel-xFApRQ">Согласие на обработку данных</div>
	<img class="line-2-xFApRQ" src="{% static 'svg/line-2_2x.svg' %}">
	<img class="line-3-xFApRQ" src="{% static 'svg/line-3_2x.svg' %}">
	<div class="textlabel-pyzmRD montserrat-normal-white-14px">Имя</div>
	<p class="x7-999-999-99-99-xFApRQ montserrat-normal-white-14px">+7 (999) 999 99 99</p>
	<img class="rectangle-27-xFApRQ" src="{% static 'svg/rectangle-27_2x.svg' %}">
</div>
<div class="textlabel-VMr6Om">Наши объекты</div>
<img class="image-VMr6Om" src="{% static 'svg/free_text.svg' %}">
<img class="group-13-C61RwL" src="{% static 'svg/info_panel.svg' %}">
<a href="">
	<div class="group-42-C61RwL">
		<img class="rectangle-27-wz81jh" src="{% static 'svg/rectangle-27-1_2x.svg' %}">
		<div class="textlabel-wz81jh">Перейти в каталог</div>
	</div>
</a>
<img class="logo-wt-1-C61RwL" src="{% static 'png/logo_big.png' %}">
<img class="rectangle-43-C61RwL" src="{% static 'png/city_photo6.png' %}">
<img class="rectangle-44-C61RwL" src="{% static 'png/city_photo7.png' %}">
<img class="rectangle-45-C61RwL" src="{% static 'png/city_photo8.png' %}">
<div class="group-29-C61RwL">
	<div class="group-sUxRyR">
		<img class="vector-LsPsQG" src="{% static 'svg/vector-3_2x.svg' %}">
	</div>
	<div class="group-z04wJ7">
		<img class="vector-n15xQh" src="{% static 'svg/vector-4_2x.svg' %}">
		<img class="vector-moMpxy" src="{% static 'svg/vector-5_2x.svg' %}">
	</div>
	<div class="group-zy3dnZ">
		<img class="vector-0Sqp3x" src="{% static 'svg/vector-6_2x.svg' %}">
		<img class="vector-RO459o" src="{% static 'svg/vector-7_2x.svg' %}">
		<img class="vector-FCSx1r" src="{% static 'svg/vector-8_2x.svg' %}">
	</div>
</div>
<a href="javascript:ShowOverlay(&#39;frame-37&#39;, &#39;animate-appear&#39;);loadAsyncSrc();">
	<div class="x-mzXdH9">
		<div class="rectangle-23-iQXdL3 border-1px-white-2"></div>
		<div class="i1891205-iQXdL3">Оставить заявку</div>
	</div>
</a>
{% endblock %}