{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
      <div class="container-center-horizontal">
         <div class="maket-s-tekstom-i-kartinkami screen ">
            <img class="rectangle-3-C61RwL"  src="{% static 'png/rectangle-3@1x.png' %}" >
            <img class="rectangle-21-C61RwL"  src="{% static 'svg/rectangle-21@1x.svg' %}" >
            <img class="rectangle-5-C61RwL"  src="{% static 'png/rectangle-5@1x.png' %}" >
            <img class="rectangle-6-C61RwL"  src="{% static 'png/rectangle-5@1x.png' %}" >
            <img class="rectangle-2-C61RwL" data-id="1:13" src="{% static 'svg/rectangle-2@2x.svg' %}" >
            <img class="image-C61RwL" data-id="1:14" src="{% static 'svg/----------------------@2x.svg' %}" >
            <img class="x1-C61RwL" data-id="1:15" src="{% static 'svg/-1@2x.svg' %}" >


            <a href="#"><div class="textlabel-C61RwL" >Оставить заявку</div></a>
            <div class="group-2-C61RwL" >
               <img class="rectangle-4-zUixHA"  src="{% static 'png/rectangle-4@1x.png' %}" >
               <img class="rectangle-22-zUixHA"  src="{% static 'svg/rectangle-22@1x.svg' %}" >
            </div>
            <h1 class="x1-VMr6Om" >Агентство недвижимости №1</h1>
            <div class="x-C61RwL" >Помогаем найти, купить или продать недвижимость. Без рисков, стрессов и переплат.</div>
            <div class="x-VMr6Om" >Мы знаем, где лучше покупать квартиру для семьи с детьми, <br>какие новостройки перспективны для инвестиций, в каком районе лучшая<br>экологическая обстановка и откуда Вам будет удобнее добираться <br>на работу!<br><br>Агентство Недвижимости Номер Один обеспечит полное юридическое<br>сопровождение, помощь в получении ипотеки, регистрацию в<br>государственных инстанциях и постпродажное обслуживание. А еще –<br>сэкономим Вам время и деньги!</div>
            <img class="x10-C61RwL"  src="{% static 'svg/10@2x.svg' %}" >
            <img class="x1000-C61RwL"  src="{% static 'svg/1000@2x.svg' %}" >
            <img class="x50-C61RwL"  src="{% static 'svg/50@2x.svg' %}" >
            <p class="x10-VMr6Om montserrat-normal-white-14px" >Более 10 лет <br>помогаем людям</p>
            <div class="x1000-VMr6Om montserrat-normal-white-14px" >Более 1000 довольных клиентов</div>
            <div class="x50-VMr6Om montserrat-normal-white-14px" >Более 50 объектов недвижимости</div>
            <img class="x1-mzXdH9"  src="{% static 'svg/-------1@1x.png' %}" >
            <img class="rectangle-26-C61RwL"  src="{% static 'png/rectangle-26@1x.png' %}" >
            <div class="group-12-C61RwL" >
               <img class="group-11-xFApRQ"  src="{% static 'svg/group-11@2x.svg' %}" >
               <div class="textlabel-xFApRQ" ><a href="#">Согласие на обработку данных</a></div>
               <img class="line-2-xFApRQ"  src="{% static 'svg/line-2@2x.svg' %}" >
               <img class="line-3-xFApRQ"  src="{% static 'svg/line-3@2x.svg' %}" >
               <div class="textlabel-pyzmRD" >Имя</div>
               <p class="x7-999-999-99-99-xFApRQ" >+7 (999) 999 99 99</p>
               <input type="checkbox" class="rectangle-27-xFApRQ"  src="{% static 'svg/rectangle-27@2x.svg' %}" >
            </div>
            <div class="textlabel-VMr6Om" >Наши объекты</div>
            <img class="image-VMr6Om"  src="{% static 'svg/-------------------------------------@2x.svg' %}" >
            <img class="group-13-C61RwL"  src="{% static 'svg/group-13@2x.svg' %}" >
            <div class="group-42-C61RwL" >
               <img class="rectangle-27-wz81jh"  src="{% static 'svg/rectangle-27-1@2x.svg' %}" >
               <div class="textlabel-wz81jh robotoslab-normal-white-14px" >Перейти в каталог</div>
            </div>
            <img class="logo-wt-1-C61RwL"  src="{% static 'png/logo-wt-1@1x.png' %}" >
            <img class="rectangle-43-C61RwL"  src="{% static 'png/rectangle-43@2x.png' %}" >
            <img class="rectangle-44-C61RwL"  src="{% static 'png/rectangle-44@2x.png' %}" >
            <img class="rectangle-45-C61RwL"  src="{% static 'png/rectangle-45@1x.png' %}" >
            <div class="group-29-C61RwL" >
               <div class="group-sUxRyR" >
                  <img class="vector-LsPsQG"  src="{% static 'svg/vector-3@2x.svg' %}" >
               </div>
               <div class="group-z04wJ7" >
                  <img class="vector-n15xQh"  src="{% static 'svg/vector-4@2x.svg' %}" >
                  <img class="vector-moMpxy"  src="{% static 'svg/vector-5@2x.svg' %}" >
               </div>
               <div class="group-zy3dnZ" >
                  <img class="vector-0Sqp3x"  src="{% static 'svg/vector-6@2x.svg' %}" >
                  <img class="vector-RO459o"  src="{% static 'svg/vector-7@2x.svg' %}" >
                  <img class="vector-FCSx1r"  src="{% static 'svg/vector-8@2x.svg' %}" >
               </div>
            </div>
            <div class="x-mzXdH9" >
               <div class="rectangle-23-iQXdL3 border-1px-white-3" ></div>
               <div class="i1681161-iQXdL3" >Оставить заявку</div>
            </div>
            <div class="frame-44-C61RwL" >
               <img class="rectangle-11-7xeb7y"  src="{% static 'png/rectangle-11@2x.png' %}" >
			   <img class="rectangle-12-7xeb7y"  src="{% static 'png/rectangle-12@2x.png' %}" >
			   <img class="rectangle-13-7xeb7y"  src="{% static 'png/rectangle-13@2x.png' %}" >
               <div class="textlabel-7xeb7y montserrat-normal-white-16px" >Покупка квартир от собственников</div>
               <div class="textlabel-TBgfV0 montserrat-normal-white-20px" ПОКУПКА >КВАРТИР</div>
               <div class="textlabel-tYHvx5 montserrat-normal-white-20px" >АРЕНДА</div>
               <p class="textlabel-hdUqZW montserrat-normal-white-16px" >Поиск арендодателей и арендаторов <br>для любых Ваших объектов недвижимости</p>
               <div class="group-44-7xeb7y" >
                  <img class="rectangle-28-9iPZEN"  src="{% static 'png/rectangle-28-1@2x.png' %}" >
                  <div class="textlabel-9iPZEN montserrat-normal-white-20px" >УЧАСТКИ</div>
                  <p class="x-9iPZEN montserrat-normal-white-16px" >Покупка и продажа загородных объектов: <br>участков, таунхаусов, домов</p>
                  <div class="group-12-9iPZEN" >
                     <div class="rectangle-24-AU0wTJ border-1px-white-3" ></div>
                     <a href="#">
                        <div class="textlabel-AU0wTJ" >Перейти</div>
                     </a>
                  </div>
               </div>
               <div class="group-3-7xeb7y" >
                  <div class="rectangle-24-V6oc7X border-1px-white-3" ></div>
                  <a href="#">
                     <div class="textlabel-V6oc7X robotoslab-normal-white-14px" >Подробнее</div>
                  </a>
               </div>
               <div class="group-4-7xeb7y" >
                  <div class="rectangle-24-P3hkyI border-1px-white-3" ></div>
                  <a href="#">
                     <div class="textlabel-P3hkyI robotoslab-normal-white-14px" >Подробнее</div>
                  </a>
               </div>
               <div class="group-5-7xeb7y" >
                  <div class="rectangle-24-g82gff border-1px-white-3" ></div>
                  <div class="textlabel-g82gff robotoslab-normal-white-14px" >Подробнее</div>
               </div>
               <p class="textlabel-zXElTv montserrat-normal-white-16px" >Покупка квартир от собственников <br>и продажа</p>
               <div class="textlabel-ACIEIi montserrat-normal-white-20px" >ДОМА И ДАЧИ</div>
            </div>
            <div class="footer-C61RwL">
               <div class="rectangle-20-iPe1yZ"></div>
               <p class="x2016-2020-i181179-iPe1yZ">© 2016 - 2020 ООО "Агентство Недвижимости Номер Один"</p>
               <img class="x1m-gh-bb-vn-m0-ovebg-preview-2-iPe1yZ" src="{% static 'png/1m-ghbbvnm0-removebg-preview-2@2x.png' %}">
			   <img class="line-4-iPe1yZ" src="{% static 'svg/line-4-1@1x.svg' %}">
               <div class="group-27-iPe1yZ" >
                  <div class="instagram-xZstl5" >
                     <img class="vector-al5l8B"  src="{% static 'svg/vector@2x.svg' %}" ></div>
                  <div class="whats-app-xZstl5" >
                     <img class="vector-3y9sZQ"  src="{% static 'svg/vector-1@2x.svg' %}" ></div>
                  <div class="facebook-xZstl5" >
                     <img class="vector-C9oVer"   src="{% static 'svg/vector-2@2x.svg' %}" ></div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}