{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
      <input type="hidden" id="anPageName" name="page" value="vakansii">
      <div class="container-center-horizontal">
         <div class="vakansii screen " >
            <img class="shutterstock131654735-1-C61RwL"  src="{% static 'png/shutterstock-131654735-1@1x.png' %}" >
            <h1 class="textlabel-C61RwL" >Вакансии</h1>
            <div class="component-1-C61RwL" >
               <a href="#">
                  <img class="rectangle-26-9p2GBv"  src="{% static 'svg/rectangle-26@2x.svg' %}" >
                  <div class="textlabel-9p2GBv" >Оставить заявку</div>
               </a>
            </div>
            <div class="x-C61RwL" >Мы приглашаем в свой дружный коллектив активных, целеустремленных и<br>ответственных сотрудников, <br>с опытом и без опыта работы, на должность
               <br>агент по работе с недвижимостью.<br>У нас нет жестких требований к кандидатам. Главное- желание много<br>зарабатывать и развиваться.
               <br>Более подробная информация на собеседовании.</div>
         </div>
      </div>
{% endblock %}