{% extends 'base.html' %}
{% load static %}
{% block title %}Вакансии{% endblock %}
{% block content %}
<div class="jobopenings" style="padding-top: 13.85vh; height: 100vh; width: 100vm;">
   <div class="background"  style="background: url({% static 'png/shutterstock-131654735-1@1x.png' %}); background-size: cover;" >
      <h1 class="title" >Вакансии</h1>
   </div>
   <p class="text" >Мы приглашаем в свой дружный коллектив активных, целеустремленных и ответственных сотрудников, с опытом и без опыта работы, на должность
      агент по работе с недвижимостью. <br>У нас нет жестких требований к кандидатам. Главное - желание много зарабатывать и развиваться.
      <br>Более подробная информация на собеседовании.</p>

   <a onclick="showQuery();">
      <div class="button" style="background: url({% static 'svg/rectangle-26@2x.svg' %}); background-size:100% 100%;">
         <p>Оставить заявку</p>
      </div>
   </a>

</div>
{% endblock %}