{% extends 'base.html' %}
{% load static %}
{% block title %}Услуги{% endblock %}
{% block content %}
<div class="services" style="padding-top: 13.91vh; background: #101010;">
   <div class="background"  style="background: url({% static 'png/shutterstock-131654735-1@1x.png' %}); background-size: cover;" >
      <h1 class="title" >УСЛУГИ</h1>
   </div>


   <div class="row" style="height: 50.38vh;">
      <div class="col-7">
         <h1 class="info-text-label" >Агентство недвижимости №1</h1>
         <p class="info-text-first" >Виды услуг предоставляемые нашим агентством недвижимости:</p>
         <ul class="info-text">
            <li>Покупка и продажа недвижимости (квартиры, дома, <br>земельные участки);</li>
            <li>Поиск аренды и сдача в аренду недвижимости;</li>
            <li>Составление и правовой анализ любых видов договоров (купли-<br>продажи, дарения, цессии и др.);</li>
            <li>Регистрация сделок с недвижимостью;</li>
         </ul>
      </div>
      <div class="col-5" style="background: url({% static 'png/rectangle-69@1x.png' %}); background-size: cover; height: 50.38vh; width: 31.94vw;">
         <p></p>
      </div>
   </div>

   <div class="row" style="height: 50.38vh;">
      <div class="col-5" style="background: url({% static 'png/rectangle-70@1x.png' %}); background-size: cover; height: 50.38vh; width: 42.15vw;">
         <p></p>
      </div>
      <div class="col-7" style="background: #1A1B1E;">
         <ul class="info-text2">
            <li>Юридическое сопровождение сделок с привлечением<br>ипотечных<br>кредитных средств, с применением материнского
               <br>капитала и<br>сертификатов;</li>
            <li>Юридическая проверка недвижимости;</li>
            <li>Оказание помощи в приватизационном процессе;</li>
            <li>Оформление кадастрового паспорта и проведение межевания<br>земельных границ;</li>
         </ul>
      </div>
   </div>

   <div class="row" style="height: 50.38vh;">
      <div class="col-7">
         <ul class="info-text3" >
            <li>Получение разрешения на строительство. Регистрация жилых и<br>нежилых домов, построенных без разрешения на строительство;</li>
            <li>Представительство в суде. Суды общей юрисдикции. Арбитражные<br>суды;</li>
            <li>До судебное урег улирование просроченной задолженности.</li>
         </ul>
      </div>
      <div class="col-5" style="background: url({% static 'png/rectangle-71@1x.png' %}); background-size: cover; height: 50.38vh; width: 42.15vw;">
         <p></p>
      </div>
   </div>
   <a href="#">
      <div class="info-button" style="background: url({% static 'svg/rectangle-26@2x.svg' %}); background-size:100% 100%;">
         <p>Оставить заявку</p>
      </div>
   </a>
</div>
{% endblock %}