{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}
<div class="subcatalog">
    <div class="background" style="background: url({% static 'png/shutterstock-131654735-1@1x.png' %}); background-size: cover;">
        <h1 class="title">Каталог</h1>
    </div>
    <div class="text-first"><a href="{% url 'index'%}" class="text-first">Главная /</a></div>
    <div class="text"><a href="{% url 'catalog'%}" class="text">Каталог</a></div>
    <div class="text">{{ name }}</div>
    {%if count == 0 %}
    <div style="height: 100vh;">
        <h1 class="title">В данный момент нет недвижимости в этой категории!</h1>
    </div>
    {% else %}
        {% for list in elements %}
        <div class="row">
            <div class="col">
                <div class="row">
                    {% for img in list %}
                        {%if img is list|first %}
                             {%if not img.image.url %}
                                <a href="{{img.estate.title}}/" class="estate-elem-first" style="background: url({% static 'png/rectangle-55@2x.png' %}); background-size: cover;">

                                </a>
                            {% else %}
                                <a href="{{img.estate.title}}/" class="estate-elem-first" style="background: url({{img.image.url}}); background-size: cover;">

                                </a>
                            {% endif %}
                        {% else %}
                            {%if not img.image.url %}
                                <a href="{{img.estate.title}}/" class="estate-elem" style="background: url({% static 'png/rectangle-55@2x.png' %}); background-size: cover;">

                                </a>
                            {% else %}
                                <a href="{{img.estate.title}}/" class="estate-elem" style="background: url({{img.image.url}}); background-size: cover;">

                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

    {% endif %}
</div>
{% endblock %}